[2018-10-25 13:38] pmereddy1 commented on #391
Yes. Thanks.

[2018-10-25 13:38] #391 closed

[2018-10-26 14:25] cdave-git opened #424 "pgo create pgpool clustername has no confirmation"
When you run pgo create pgpool CLUSTERNAME command, there is no confirmation question or return output of success or failure.
version 3.3

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please tell uthes about your environment:**

* Operating System:
* Where is this running ( Loc

[2018-10-26 14:53] scrummyin opened #425 "pgo df errors and does not out put after failover and deletion of old primary pvc"
**Describe the bug**
If you have failed over previously and removed the original primary pod and it's associated pvc (since the pod that uses it no longer exists). Next, you run a `$pg df <cluster_name>` you will get a message saying `Error: persistentvolumeclaims "<cluster_name>" not found`. It seems that df guess at one of the pvc by name. However, it looks like pgo show cluster does not display

[2018-10-27 16:16] #338 closed

[2018-10-27 18:36] jmccormick2001 commented on #363
this appears to be fixed with the latest code (>= 3.3.0)

[2018-10-27 18:36] #363 closed

[2018-10-27 19:05] jmccormick2001 commented on #424
doppio-kube:[~/odev/src/github.com/crunchydata/postgres-operator] pgo create pgpool badone
pgpool added for badon

a fix for this is now in the develop branch, above is the resulting message a user will get when they run the pgo create pgpool command after this change.

[2018-10-27 19:05] #424 closed

[2018-10-27 19:12] jmccormick2001 commented on #419
https://github.com/CrunchyData/crunchy-containers/issues/855

when that issue is implemented, I'll come back and implement this issue for the operator.

[2018-10-27 19:37] jmccormick2001 commented on #99
doppio-kube:[~/odev/src/github.com/crunchydata/postgres-operator] pgo version --pgo-ca-cert=/tmp/server.crt --pgo-client-cert=/tmp/server.crt --pgo-client-key=/tmp/server.key
pgo client version 3.4.0-rc1
apiserver version 3.4.0-rc1

with this change, you can enter the values as above instead of specifying env vars.

[2018-10-27 19:37] #99 closed

[2018-10-27 19:38] jmccormick2001 commented on #176
crunchy-scheduler integration will land in operator 3.4.0, the code is now merged in, it is dependent upon crunchy-scheduler 2.2.0 being pushed out in that upcoming release.

[2018-10-27 19:38] #176 closed

[2018-10-27 20:54] jmccormick2001 commented on #393
https://www.postgresql.org/docs/11/static/app-pgbasebackup.html

as no option exists for this, a custom change in crunchy-backup will be
required to implement this feature.  I've created that Issue here:

https://github.com/CrunchyData/crunchy-containers/issues/856

[2018-10-27 22:01] jmccormick2001 commented on #367
done.

[2018-10-27 22:01] #367 closed

[2018-10-27 22:05] jmccormick2001 commented on #386
Hi, is this still an issue?

[2018-10-28 18:33] jmccormick2001 commented on #365
I think this is fixed now, here is how I tested it....
a) create the global custom config map   pgo-custom-pg-config
b) create a cluster NOT specifying --custom-config
c) examine the cluster's pgconf volume which indeed specifies pgo-custom-pg-config as expected
d) create a different custom config, this one is named pgo-custom-pg-config2
e) create a cluster specifying --custom-config=pgo-custom-pg

[2018-10-28 18:33] #365 closed

[2018-10-28 19:28] jmccormick2001 commented on #241
seems to work with the current code in develop branch.

[2018-10-28 19:28] #241 closed

[2018-10-28 22:06] jmccormick2001 commented on #354
done, the pgcluster CRD now doesn't hold password fields, instead it holds secret names only.  secrets are created after this change in the apiserver BEFORE the pgcluster CRD is created.

[2018-10-28 22:06] #354 closed

[2018-10-28 23:29] jmccormick2001 commented on #423
merged in change to fix this, now df command shows results for each pod within a cluster.

[2018-10-28 23:29] #423 closed

[2018-10-28 23:30] jmccormick2001 commented on #425
merged in change that fixes this, df command now shows all Pod's for that cluster.

[2018-10-28 23:30] #425 closed

[2018-10-29 03:15] cotigao opened #426 "Failover seems to be broken in v3.3.0"
**Describe the bug**
Failover (replica -> primary) is not working.

**To Reproduce**
Soon after creating the cluster with pgo, (`pgo create cluster tempo --pgpool --replica-count=2 --autofail`)
1) Delete the primary postgres pod  (using "kubectl  delete ... ")
2)  If the cluster wasn't started with "--autofail" option,  then run "pgo failover --target ... ".
3)  Either way, even with --autofail op

[2018-10-29 17:58] jmccormick2001 commented on #346
merged in an initial implementation and updated the 'upgrade' docs to reflect the new feature....this version is simple, it just updates any pgreplicas/pgclusters that are not the current operator version, it also inserts a new user label that shows the upgrade date/time.

[2018-10-29 20:21] jmccormick2001 opened #427 "auto minor upgrade of PG containers"
this feature will perform an 'auto' minor PG upgrade when the Postgres Operator starts
up if a pgo.yaml setting 'auto-upgrade' is set to true.

**Describe the solution you'd like**
as the operator starts up, it will read the CRDs, for any cluster or replica that
exists, if a newer PG version exists, then the operator will patch to the newer
version of PG, and then bounce the container to perform t

[2018-10-30 19:07] jmccormick2001 commented on #419
so, what I've done for this upcoming release is add LogStatement and LogMinDurationStatement settings inside pgo.yaml, those correspond to the postgresql.conf settings 'log_statement' and 'log_min_duration_statement'.  I have defaults for these to NOT log any statement that is less than 1 minute long in running, so the logs sizes will drop dramatically.  If you want to go back to the current behav

[2018-10-30 19:07] #419 closed

[2018-10-30 19:09] cdave-git opened #428 "second autofailover is not working"
@jmccormick2001

Setup: 1 Primary + 2 replica

Mimic first failover by removing data directory of the primary node, autofailover works as expected.

Upon doing same of deleting data on promoted replica ( new primary ), autofailover does kick in.

Operator version: 3.3

[2018-10-30 19:15] cdave-git opened #429 "pgo show pvc"
Currently `pgo show pvc` only show name of the pvc's root directory, useful output would be, specially for backup pvc to display all backups present on that pvc

[2018-10-30 19:18] cdave-git opened #430 "pgo show pvc not working"
pgo show pvc clustername is timing out and giving following output.

`Error: container "lspvc" in pod "lspvc-sample" is waiting to start: ContainerCreating
`
relates to https://github.com/CrunchyData/postgres-operator/issues/429

[2018-10-30 19:35] cdave-git opened #431 "pgo show cluster reporting lspvc pod"
pgo show cluster all incorrectly show `lspvc`

I think this is related to or caused by https://github.com/CrunchyData/postgres-operator/issues/430

 pgo show cluster all

cluster : mybackup (centos7-10.5-2.1.0)
	pod : lspvc-mybackup-backup (Succeeded) on openshift-demo-master-1 (0/1) (replica)
	pvc : mybackup-backup
	pod : mybackup-7fdc7c8f88-7tr5g (Running) on openshift-demo-app-0 (1/1) (primary)

[2018-10-30 19:38] cdave-git opened #432 "Validate pgo.yml for FsGroup and SupplementalGroup"
Validate pgo.yml to have either FsGroup or SupplementalGroup

"Storage:
  storage1:
    AccessMode:  ReadWriteOnce
    Size:  200M
    StorageType:  dynamic
    StorageClass:  standard
    Fsgroup:  26
    SupplementalGroups:
DefaultContainerResources:
"

[2018-10-30 20:12] #386 closed

[2018-10-30 20:47] cdave-git opened #433 "pgbouncer enhancement"
Currently only way to change pgbouncer.ini is by changing template and redeploy Operator, desired feature would be

1. Ability to make changes to pgbouncer.ini online and reload pgbouncer process
2. Ability to use different pgbouncer.ini setting on each cluster, fox ex: cluster A might need pool_type=session while other might use transaction.

Ability to create cluster with customer pgbouncer.ini

[2018-10-30 21:12] ry1015 opened #434 "Case-only variation dependency error"
I'm getting this error when trying to run `dep ensure` in Cloud Foundry

`3.2.0: Could not introduce github.com/crunchydata/postgres-operator@3.2.0 due to a case-only variation: it depends on "github.com/Sirupsen/logrus", but "github.com/sirupsen/logrus" was already established as the case variant for that project root by depender (root)
   	3.3.0: Could not introduce github.com/crunchydata/postgr

[2018-10-30 21:18] jmccormick2001 commented on #341
added -backup-opts to 'pgo backup ' command, now it handles the both the cases of pgbackrest and pgbasebackup, in that you can pass command  flags for either backup type via this command flag (--backup-opts).  The command flags feature for crunchy-backup is implemented starting with 2.2.0 of crunchy containers.

[2018-10-30 21:18] #341 closed

[2018-11-01 16:55] sharkymcdongles opened #437 "Add metrics for pgpools or allow custom labeling so pgpools are excluded"
**What is the motivation or use case for the change? **
pgpools currently have no metrics, and they get pulled into prometheus because of how the labeling works.

**Describe the solution you'd like**
I propose either adding metrics for pgpools or creating some way to implement custom labeling to allow better targeting of metrics.

**Please tell us about your environment:**

* Operating System:
* W

[2018-11-01 18:52] pmereddy1 opened #438 "Add support to take physical backup from replica pod"
**What is the motivation or use case for the change? **
pg_basebackup and pgbackrest backups are taken against primary POD. This is not ideal because of additional load on the primary storage.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Provide a way to specify a pod to use to take a physical backup using pg_basebackup and pgbackrest. This coul

[2018-11-06 13:13] jmccormick2001 commented on #368
this should be fixed with 3.4.0, with this version you no longer have to specify a --custom-config option.

[2018-11-06 13:13] #368 closed

[2018-11-06 13:14] jmccormick2001 commented on #323
this is done, starting with 3.4.0 pgbackrest integration uses pgbackres env vars instead of config maps/files for configuration, at least from the user's view.

[2018-11-06 13:14] #323 closed

[2018-11-06 13:15] #384 closed, assigned to cahoonpwork

[2018-11-06 18:16] pmereddy1 opened #442 "failover target not verified during manual failover"
**Describe the bug**
A clear and concise description of what the bug is.
If primary deployment is used as failover target, failover works as if a scale command was issued.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
create a cluster using postgres-operator cli/ui with or without a replica and then issue the following co

[2018-11-06 22:08] pmereddy1 commented on #345
Is this feature going to be in 3.4 release ?

[2018-11-06 22:12] cdave-git commented on #345
I think it goes back to ability to use PVC of dead primary. i feel there should only be one pgbackrest repo which should get attached to current primary.

[2018-11-07 04:08] ramukima commented on #426
I have a 3 node kubernetes cluster with single master (n1) and two slaves (n2, n3).
- I deployed operator, it was scheduled on node n2.
- I provisioned a database cluster with --autofail and --pgpool enabled deployed both pods on node n2.
- I then used pgo scale with 1 replica and node label selector for node n3.

Once everything was provisioned fine, I shutdown node n2. I did not see the operator

[2018-11-07 04:35] jmccormick2001 commented on #426
thanks, I'll try out this scenario and see what I can find out.

[2018-11-07 13:08] jmccormick2001 commented on #345
this one will not make it into 3.4 I think given the timeline and where I'm at., but probably 3.5.

[2018-11-07 16:07] pmereddy1 commented on #275
Yes. Thanks

[2018-11-07 16:07] #275 closed

[2018-11-07 16:42] pmereddy1 opened #443 "Investigate exposing metrics for PostgreSQL backup volumes"
**What is the motivation or use case for the change? **
filesystem metrics are not available for backup volumes.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Need a way to get filesystem metrics of backup volumes so they can be monitored and alerted on.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Lo

[2018-11-08 20:35] jmccormick2001 commented on #429
ok, changed to 'find' instead of 'ls' to get more detailed output

[2018-11-08 20:35] #429 closed

[2018-11-08 21:19] jmccormick2001 commented on #418
this should be better now, rmdata was not removing -spool and -wal directories when using --delete-data, I've tested on OCP using NFS and it seems to let you delete/create over and over.

[2018-11-08 21:19] #418 closed

[2018-11-08 21:41] jmccormick2001 commented on #417
I've added to the Makefile 'release' target a set of commands that will create a helm release tar ball for new releases.  I'll publish that to Github releases with the upcoming 3.4 release.

[2018-11-08 21:41] #417 closed

[2018-11-08 21:42] jmccormick2001 commented on #430
I've tested on ocp 3.11 and it seems to work as of the current develop branch.

[2018-11-08 21:42] #430 closed

[2018-11-08 21:51] jmccormick2001 commented on #431
I've added a selector fragment "name!=lspvc" to the pod selection logic when 'pgo show cluster' is run, this will prevent lspvc pods from showing up.

[2018-11-08 21:51] #431 closed

[2018-11-08 22:10] jmccormick2001 commented on #432
I've added a validation check in for this, to prevent an fsgroup and supplementalgroup to both be specified in pgo.yaml within a givne storage spec.

[2018-11-08 22:10] #432 closed

[2018-11-09 00:06] jmccormick2001 commented on #442
I've create a check in the failover logic for this use case, an error is returned to the client if a user tries this scenario with this change.

[2018-11-09 00:06] #442 closed

[2018-11-09 00:39] jmccormick2001 commented on #426
as I test this out, one thing to note, if you 'kubectl delete pod', the Deployment will spin up another new replacing Pod after a few seconds.  In this case, it seems to work after the replacement pod spins up.  If autofail is enabled, then what could happen is the autofail might fire before the Pod comes back, so adjusting the times of the autofail check comes into play here.  But more testing is

[2018-11-09 01:12] jmccormick2001 commented on #428
weird, I can't reproduce this on ocp 3.11 and the most current develop branch, will retest after RC is built.

[2018-11-09 01:12] #428 closed

[2018-11-09 05:16] jmccormick2001 commented on #420
[oper@doppio-ocp311 postgres-operator]$ pgo show workflow a6f97e56-9c24-4afe-83ce-6eb346a89c14
parameter           value
---------           -----
completed           2018-11-09.05.00.44
pg-cluster          lastone
submitted           2018-11-09.05.00.14
workflowid          a6f97e56-9c24-4afe-83ce-6eb346a89c14

an initial attempt at workflow mgmt, when you run 'pgo create cluster', you will get ba

[2018-11-09 05:16] #420 closed

[2018-11-09 09:31] ron1 opened #444 "Improve Helm Chart configurability or provide Ansible Playbook Bundle based on postgres-operator-playbooks"
**What is the motivation or use case for the change? **
As an OpenShift/Kubernetes administrator or developer, I want a configurable, easy-to-use, standardized mechanism to install and configure the CrunchyData Postgres Operator.

**Describe the solution you'd like**
Git repo https://github.com/CrunchyData/postgres-operator-playbooks provides a reasonably configurable mechanism to install the Crun

[2018-11-15 15:40] pmereddy1 opened #448 "prevent user from using reserved labels"
**Describe the bug**
A clear and concise description of what the bug is.
pgo delete cluster <cluster_name> does not work when label "name" has a value that is different from cluster_name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
pgo create cluster testing -l name=appname
pgo show cluster testing (does not work)
pgo s

[2018-11-16 15:33] jmccormick2001 opened #449 "schedule validation"
validate the cron spec in the schedules in the apiserver providing feedback to the CLI user.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQL Version

[2018-11-16 17:59] jmccormick2001 opened #450 "relocation of labels from deployments to CRD"
this issue tracks the goal of consolidating cluster labels to be on the CRD instead of say a Deployment..

pgo-version
policies

examine other deployment labels and relocate to CRD where appropriate, impacts various queries.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is t

[2018-11-16 18:01] jmccormick2001 opened #451 "ability to create a data load file PVC combination"
for file loading, the current examples work if you can place a file onto a PVC using a file system like NFS where you have access to the underlying file system.  This feature request is to add a command that lets you load a simple input file into a PVC on the fly.  Then that PVC can be used within the existing load command.

**Describe the solution you'd like**
A clear and concise description of w

[2018-11-16 20:18] jmccormick2001 opened #453 "refactor user command"
the 'pgo user' command does a lot of things, this command needs to be refactored into a 'pgo update user' command syntax to match the 'pgo create user' and 'pgo delete user' syntax.

one feature that is new would be to offer a way to expires a specific user (--expire-user)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your

[2018-11-19 15:55] jmccormick2001 commented on #426
I tested the multi node scenario on a kube 1.12 system,  what I'm seeing is that the deployments are getting recreated on another node after the original node is turned off, however, Kube marks the older pods as 'Unknown' which is interesting.  More testing on my part to make sure this is expected.  It takes a couple of minutes it appears for Kube to reschedule onto another node.

[2018-11-19 17:30] cotigao commented on #426
Just wanted to know how is the automatic failover handled? If a postgres pod dies, does the operator completely rely on the deployment to spin up a new one?, in which case the primary replica will always be from the same deployment. But if the primary deployment is having repeated failures in launching the pod, will the operator take action in that case (delete the unstable primary deployment and

[2018-11-19 17:43] jmccormick2001 commented on #426
you could definitely see a competition between the primary Deployment and the Operator if you say remove a Pod under the Deployment's control.  The operator might cause a failover if the Deployment can't replace the Pod within a time frame that doesn't trigger the failover by the Operator.  If the pod dies, the Operator thinks that this Deployment is probably corrupted and will remove the Deployme

[2018-11-19 18:32] jmccormick2001 commented on #426
when you do a failover the Operator will cause a replacement Deployment to be created, this is the current expected behavior, however, people have asked to a feature to be created where the replacement Deployment is NOT created, this is for users that have very large data set sizes and don't want to have a replica auto created.

[2018-11-19 18:39] cotigao commented on #426
Ok. So the target replica(recreated or not)  should be expected to have `PG_MODE=primary`, right?

[2018-11-19 19:34] jmccormick2001 commented on #426
PG_MODE (the container env var) is only used at cluster startup to tell the PG container if its a primary or a replica which influences the running or not of initdb.  That env var will remain = replica even if the container is promoted into a replica from a primary.  The Operator uses labels on the pgcluster CRD to know whether or not the Deployment is a primary or a replica instead.

[2018-11-20 07:48] cotigao commented on #426
Ok. I might be missing something here, but per my understanding the `crunchy-containers/bin/postgres/start.sh` depends on this env var. It checks  `PG_MODE`  to decide on the next steps.  If it is set as replica, it waits indefinitely echo'ing `Waiting to allow the primary database time to successfully start before performing the initial backup..` That is why those 2 deployments (one recreated and

[2018-11-20 07:50] cotigao commented on #426
_That env var will remain = replica even if the container is promoted into a replica from a primary_ -- Did you mean _...  promoted into a primary from replica_ ?

[2018-11-20 07:53] cotigao commented on #426
Did you mean promoted into a primary from a replica?

[2018-11-20 14:48] jmccormick2001 commented on #426
correct, a promoted replica (to primary) will still retain the PG_MODE = replica setting.  The scenario I tested just now:  create primary with replica, manually delete the primary Deployment, manually failover to the replica...that seems to work with the current develop branch code.

[2018-11-20 16:18] jmccormick2001 opened #458 "derive the backup pvc name for the scheduler"
I'd like to derive the backup pvc name for pgbasebackups if the user doesn't set the --pvc-name flag explicitly.  Still allow the --pvc-name flag but use it to override the derived name <clustername>-backup.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Loc

[2018-11-20 23:33] jmccormick2001 opened #460 "remove CreateReplica - replaced with Scale"
found some dead code to remove, CreateReplica was replaced by Scale in the operator pkg awhile ago.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQL

[2018-11-21 00:04] jmccormick2001 opened #461 "re-evaluate archive support in non pgbackrest deployments."
given pgbackrest integration is --archive still a valid concern.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe any alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local

[2018-11-21 03:14] cotigao commented on #426
Thanks! I will try. Could you please tell me what commit Id your branch is at? (just to make sure we are on the same page)

[2018-11-25 22:29] jmccormick2001 opened #463 "create replica when pgbouncer and pgpool sidecars are added to a cluster"
add logic to automatically create a replica if one doesn't exist when a pgpool or pgboucner sidecar is added to a cluster.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container I

[2018-11-25 22:32] jmccormick2001 opened #464 "add workflow ID to backup requests"
when a backup is created, add a workflow ID to track the status of the backup job
apart from just updating the backup CRD as happens today.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, et

[2018-11-26 14:38] jmccormick2001 commented on #460
also can remove major upgrade code at this point.

[2018-11-26 15:03] cahoonpwork opened #465 "pgo show cluster - label descriptions"
**What is the motivation or use case for the change? **
update labels when you run pgo show cluster, not all pods are primary or replicas anymore.
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

 pgo show cluster autocluster

cluster : autocluster (centos7-10.6-2.2.0-rc9)
       pod : autocluster-pgpool-5b86d786cc-7bcw8 (Running) on gke-centos7-pgo

[2018-11-26 17:23] jmccormick2001 opened #466 "validate pgo.yaml backrest and archive settings on startup"
validate these settings as they are mutually exclusive

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQL Version:
* Platform (Docker, Kubernetes, Open

[2018-11-26 19:15] jmccormick2001 opened #467 "make pgmonitor optional and password configurable"
currently pgmonitor is hardcoded, make configurable in both cluster template and in collect template.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQ

[2018-11-26 20:58] jmccormick2001 opened #468 "evaluate --delete-backups"
evaluate current design, future design, and constraints like RWO and pgbackrest repo volumes being shared by a cluster, plus backup mgmt and where to retain knowledge about restores.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Sto

[2018-11-26 22:48] jmccormick2001 opened #469 "make pgbouncer credential configurable"
allow the user to specify a user for the pgbouncer credential

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQL Version:
* Platform (Docker, Kubernete

[2018-11-27 03:45] iboware commented on #382
I had the same issue with Amazon EKS. Strangely, after deleting and creating my EKS cluster again, it started to work normally. I think, it is a configuration problem with EKS.

[2018-11-27 14:46] wizurijyq opened #470 "Add pgo to apiserver container"
**What is the motivation or use case for the change? **
Every-time I need to use pgo binary, I need to install it on a new environment.

**Describe the solution you'd like**
Add the pgo binary and config environment vars to the apiserver, which will be communicated with as a localhost API.

I also tried to install it myself but there is no root access and the file system is readonly

[2018-11-27 17:09] jmccormick2001 opened #471 "create acknowledgement for load job submission"
as part of this issue, verify CLI user responses, they should show a user acknowledgment that the job is submitted in a consistent way back to the end user.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Host

[2018-11-27 18:12] jmccormick2001 commented on #179
pgbackrest S3 support

[2018-11-27 19:14] cahoonpwork opened #472 "updated documentation theme"
Update Hugo theme to match AP 2.0

[2018-11-28 14:32] pmereddy1 opened #476 "setting autofail label after cluster creation does not work"
**Describe the bug**
A clear and concise description of what the bug is.
autofailover does not work if autofail=true label is added after the cluster is created.

**To Reproduce**
Steps to reproduce the behavior:
create a cluster without autofail flag, add it later on and then remove pgdata directory on primary. Failover does not happen. Instead, primary is reinitialized and standby cannot establi

[2018-11-28 14:36] pmereddy1 opened #477 "pgo show pvc does not work from non-root location"
**Describe the bug**
A clear and concise description of what the bug is.
pgo show pvc does not work from non-root location

**To Reproduce**
Steps to reproduce the behavior:
pgo show pvc test340-2-xlog --pvc-root /
	//pgdata//
	//pgdata//lost+found
	//pgdata//test340-2-wal
	//pgdata//test340-2-wal/000000010000000000000002
	//pgdata//test340-2-wal/000000010000000000000001
	//pgdata//test340-2-wal/0

[2018-11-28 14:40] cahoonpwork commented on #477
Remove pgdata and it should work.  You don't need quotes.

[2018-11-28 17:16] maxfofocker opened #478 "gke quickstart.sh install error"
I download quickstart.sh to my gke home/users/tmp folder from project, and I got list error messages after this operation.
[code]

##### my install command process

[code]

How can I resolve this problem?

[2018-11-28 17:21] jmccormick2001 commented on #478
did you do the following step?

the Kubernetes cluster.
NOTE:  this step requires cluster-admin privs...
in another terminal window, log in as a cluster-admin and
execute the following command...

export CO_CMD=kubectl
export CO_NAMESPACE=
export PATH=/home/botcenter002/gopath/bin:/google/gopath/bin:/google/google-cloud-sdk/bin:/usr/local/go/bin:/opt/gradle/bin:/opt/maven/bin:/usr/local/sbin:/usr/

[2018-11-28 17:42] pmereddy1 commented on #477
Correct. Absolute path other than / was not working because of the automatic prefixing of pgdata.
It was not clear in the help of pgo show pvc command

[2018-11-29 00:41] justdomepaul commented on #478
@jmccormick2001  I try again, thanks.

[2018-11-29 01:41] maxfofocker commented on #478
@jmccormick2001 I try to install again, and I got new error message in another command.

##### this is in another command
[code]

I try to get some infomation about pgo and get this response.

##### gke kube serviceaccounts
[code]

##### gke kube clusterrolebinding pgo
[code]

[2018-11-29 03:58] maxfofocker commented on #478
@jmccormick2001 I resolve this problem by add GCP RBAC auth on Kubernetes cluster.

https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control

USER_ACCOUNT is your gmail address
[code]

I recommend  add this precautions into Quickstart Installation (GKE) install steps.

[2018-11-29 08:38] maxfofocker opened #479 "how to use pgpool replication pgpool-slave mode?"
I predict a cluster about a pgpool(one master and one more slave to reach HA), multiple postgresql database (one master and one more replica to reach HA and fast query).

How can I set pgpool setting to replica a slave pgpool by pg-operator?

[2018-11-29 08:50] maxfofocker commented on #479
I have found the postgres-operator included pgpool-master-slave mod on [this commit](https://github.com/CrunchyData/postgres-operator/commit/072bf7110b8837ba33ca2c42f555818f8c022920#diff-82d7729c65ae4e2678ad9689c2f546ff).

Please close this issue, thanks.

[2018-11-29 12:47] iboware opened #480 "[Helm Chart] [V3.4] Image definitions in pgo.yaml are wrong"
**Describe the bug**

Helm Chart for V3.4 needs to be updated. Images inside `pgo.yaml` are not available in Docker repository.
[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Please tell us about your environment:**

**Additional context**

[2018-11-29 13:37] #479 closed

[2018-11-29 18:21] jmccormick2001 opened #481 "make replica replacement configurable"
today, when a failover happens, a replacment replica is created by default.  This issue is to add a new feature that makes the replacement a configurable choice by the user.

for example in pgo.yaml:

FailoverReplaceReplica: true

on the command line:

pgo create cluster mycluster --failover-replace-replica=false

if a user specifies this flag on the command line it would override the pgo.yaml glo

[2018-11-30 16:18] wizurijyq commented on #409
Fixed in 3.4!

[2018-11-30 16:18] #409 closed

[2018-12-03 16:16] absolutejam opened #482 "pgo.yaml clarification"
**Which example are you working with?**
GKE
pgo client version 3.4.0
apiserver version 3.4.0
deployed via. helm

**What is the current behavior?**
When I exec into the operator pod(s), I can see there is a `/pgo-config/pgo.yaml` file.
There is also the same file provided when cloning the repo, as part of setup.

Really, I just wanted clarification around the use of the `pgo.yaml` as it's not quite

[2018-12-03 17:06] pmereddy1 opened #483 "fix pgo create schedule help documentation"
**Describe the bug**
The help text of pgo create schedule is incorrect. Especially for
—ccp-image-tag
and
—no-prompt

**To Reproduce**
pgo create schedule --help

**Expected behavior**
--no-prompt is not required for this command. Please remove it.
--ccp-image-tag: not applicable

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please tell us about your environment:

[2018-12-03 17:20] pmereddy1 commented on #483
Also, please add details on timezone used by --schedule option.

[2018-12-03 17:57] pmereddy1 opened #484 "pgo show backup does not show backups taken by scheduler"
**Describe the bug**
pgo show backup does not show taken by scheduler

**To Reproduce**
pgo create cluster mycluster
pgo backup mycluster
pgo show backup
pgo create schedule --schedule="10 10 * * *" --schedule-type=pgbasebackup --pvc-name=mycluster-backup mycluster
-- Backup is taken by the schedule.
But, "pgo show backup" does not show this backup.

**Expected behavior**
"pgo show backup" should

[2018-12-04 08:34] absolutejam commented on #482
Ah, right. So if I update the config maps, I update the associated configs on the pods. Basic Kubernetes, I know, but I'm still relatively new to Kubernetes and the operator is an abstraction above regular controllers. Initially, I wasn't sure if the client side controlled it, but that makes perfect sense; thanks for clarifying.

Understandable that not everything is in there yet. I mean, the `pgo

[2018-12-04 15:01] absolutejam opened #485 "Permission denied using hostpath (GKE)"
**Describe the bug**

I'm using what I'd say is a standard setup (for testing), just changing the packaged `pgo.yaml` to use hostpath for testing:

[code]
(Also, the example in the docs says the default is `hostpathstorage` but it is now `nfsstorage`, and the default `ReadWriteMany` for `hostpathstorage` will not work. Do you want an issue for these?)

**To Reproduce**

  - Install cluster via. he

[2018-12-05 01:20] jmccormick2001 commented on #485
Hi I seem to recall that hostpath is not supported on GKE, only the standard storage classes they offer, you might try configuring it to use the GCE storage class they provide.  For the docs update, yes if you would enter an Issue to update the docs section it would help us to not lose track of that update and thanks for reporting it!

[2018-12-05 09:08] absolutejam commented on #485
I've tested another container which I deployed as a single Pod and I could successfully use hostpath. But I'll change my lab needs to use a Persistent Disk instead.

Thanks!

[2018-12-05 15:25] pmereddy1 opened #488 "pgo show backup status error"
**Describe the bug**
pgo show backup command displays backup status as "Error" first and them changes to completed.

**To Reproduce**
Immediately after running "pgo backup <clustername>"
Run the following command
pgo show backup <clustername>

The "Backup Status" field shows "Error"

**Expected behavior**
"Backup Status" should not start off with "Error".

**Screenshots**
If applicable, add screen

[2018-12-06 16:20] jmccormick2001 opened #489 "failover - labeling refactor"
adjust labeling scheme to support immediate fail-over

**Describe the solution you'd like**
currently as part of a fail-over, the primary label within the Deployment template
is changed, this causes the deployment to bounce the currently running pod.

this change will set the label on the Deployment metadata instead, using a service-name
label instead of the current primary label.  The service (pr

[2018-12-06 21:48] hotl commented on #382
I'm running into a similar problem. Looks to me that the operator is creating the persistent volume claim without regard for which availability zone the available nodes are on.

Here is the event log from the failed pod:
[code]

My cluster looks like this:
[code]

[2018-12-06 23:34] #489 closed

[2018-12-08 00:06] #481 closed

[2018-12-08 00:39] #472 closed

[2018-12-08 20:32] #460 closed

[2018-12-08 21:32] jmccormick2001 opened #493 "allow specific storage configuration for archive volumes"
currently the /pgwal volume when created uses the PrimaryStorage configuration settings
in pgo.yaml, this change will create a new storage configuration named ArchiveStorage
that will be used specifically for this volume to allow users a more precise means to set
this volume size apart from the primary volume.

**Describe the solution you'd like**
A clear and concise description of what you want t

[2018-12-08 21:35] #493 closed

[2018-12-10 15:41] kssikora opened #495 "Add label support to operator storage configurations"
**What is the motivation or use case for the change? **

Adding labels to internally provisioned NFS pv's that could be selected by the operator to enable the placement of the database, replicas, and backups on different NFS servers or shares. This could enable users without dynamic provisioning support a higher level of availability by splitting primary, replica, and backupset between different N

[2018-12-10 18:22] kssikora opened #496 "Provide capability to map the pgadmin application URL to a path under root ("/pgadmin/")"
**What is the motivation or use case for the change? **

Configuring Kubernetes ingress to map the pgadmin container's root to a path under the cluster's root ("/pgadmin/") appears to result in http redirect errors from the python web application.

**Describe the solution you'd like**

Please provide parameter(s) for mapping the pgadmin website URL to a path other than the root ("/"). Also please

[2018-12-11 15:57] cahoonpwork opened #497 "update quickstart script for mac and debian ( Ubuntu)"
**What is the motivation or use case for the change? **
Currently script is written to support RHEL / Centos.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It needs to be updated to support Mac and Debian ( Ubuntu)

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being use

[2018-12-11 16:21] jmccormick2001 commented on #181
currently SQL is stored in pgpolicy CRDs,     one aspect of this feature is that you would have something akin to 'pgo create schedule --policy=somepolicy ....', that would cause the SQL from the policy to be stored in the schedule config map, the scheduler would submit Jobs to execute this SQL.

[2018-12-11 16:59] pmereddy1 commented on #488
In addition, if pgbackrest backup in progress, it does not show in the "pgo show backup" output.

[2018-12-11 20:52] jmccormick2001 opened #499 "autofail toggle"
**What is the motivation or use case for the change? **

this feature would let pgo users toggle on/off the autofail flag for a given
cluster, this is useful if you are planning downtime or maintenance.

pgo update cluster --autofail=false
pgo update cluster --autofail=true

something like that would be the user's view into this function.

**Describe the solution you'd like**
A clear and concise d

[2018-12-11 21:43] jmccormick2001 opened #500 "restore pgbackrest options needs to be encoded"
**Describe the bug**
the backrest opts breaks things downstream due to the chars being passed

 pgo restore haha --to-pvc=haha-restore --pgbackrest-opts="--type=time --target='2018-12-11 14:44:45 EST' "

need to handle the above case

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise

[2018-12-11 23:01] gadelkareem opened #501 "Allow setting different limits for new cluster's primary and replicas pods"
~I am not sure if you can already do that with pgo or you need to modify the "files" directory"?~

There is a "--resources-config" but that is for all pods. Might be a good idea to distinguish between master and replicas.

[2018-12-12 02:19] jmccormick2001 commented on #499
merged into develop branch, testable in RC1

[2018-12-12 02:19] #499 closed

[2018-12-13 03:44] jmccormick2001 opened #505 "select failover target based on node labels"
when picking a failover target, if a node label is specified as a preferred failover node, then choose that replica which is on that node over a replica on some other node, both of which are at the same replication status.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe any alternatives you've considered**
A clear and concise descriptio

[2018-12-13 18:53] jmccormick2001 opened #506 "port override is not working"
the Port in pgo.yaml is not taking effect to overide the default port.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please tell us about your environment:

[2018-12-13 20:22] wizurijyq opened #507 "postgresql.conf is missing"
In the docs https://github.com/CrunchyData/postgres-operator/blob/8177160d1a77040654dceeb2a1d091dceb393396/hugo/content/how-it-works/_index.adoc#custom-postgres-configurations you mentioned there will be a postgresql.conf file, but it is not there..

[2018-12-13 21:08] jmccormick2001 commented on #507
I was referring to examples/custom-config but didn't specify that in the docs, noted and I'll update the docs to make it clearer.

[2018-12-13 21:10] wizurijyq commented on #507
Is there a way to customise postgresql.conf file?

[2018-12-13 21:15] jmccormick2001 commented on #507
modify examples/custom-config/postgresql.conf, create the configmap from that example, the Operator looks for that ConfigMap, if found it will mount it inside the postgres containers it creates, the container looks for that mount and if it finds a postgresql.conf file, it will use that instead of its default postgresql.conf.

[2018-12-13 21:21] wizurijyq commented on #507
Would that also work via the helm chart files, if I place the postgresql.conf in  https://github.com/CrunchyData/postgres-operator/tree/master/chart/postgres-operator/files/postgres-operator ?

[2018-12-17 16:51] jmccormick2001 commented on #506
https://github.com/CrunchyData/crunchy-containers/issues/936

reference to dependent issue.

[2018-12-19 19:24] jmccormick2001 opened #511 "merge chart into helm repo"
**What is the motivation or use case for the change? **
https://github.com/helm/charts/pull/198

this issue is to merge the postgres operator helm chart to the official helm repo.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storag

[2018-12-20 15:33] scalaenthusiast opened #513 "Special characters not getting filtered properly in pgo client..."
**Describe the bug**
Special characters specified on the pgo command line cause an error when the message is sent to the operator api.

**To Reproduce**

pgo show backup ?
Error: Invalid Status Code: 404

**Expected behavior**
The client should tell the user that either '?' is an invalid cluster name or the cluster does not exist, but not a 404 error.

**Please tell us about your environment:**

*

[2018-12-20 20:16] dtseiler commented on #497
quickstart.sh on ubuntu to GKE works as-is.

[2018-12-20 20:18] dtseiler commented on #497
Run into sed usage errors with quickstart.sh on macos:

[code]

Code in question is:
[code]

Looks like the MacOS sed just uses `-i`:
[code]

[2018-12-20 20:32] dtseiler commented on #497
Confirmed that the `sed` syntax I suggested above with the `-i` and `-e` syntax works on both GNU and BSD `sed`. I suggest changing usage to that to work on Linux and MacOS.

[2018-12-20 20:47] dtseiler commented on #497
[code]

Might be better to just install the version that is needed for the host's OS (ie cp pgo-mac to pgo).

[2018-12-20 20:58] dtseiler commented on #497
Dave Youatt suggested this change to detect OS and place file correctly:
[code]

With these changes, quickstart.sh is working on MacOS for GKE now. I'm going to submit a patch shortly and then shift to testing on OpenShift.

[2018-12-20 21:05] dtseiler commented on #497
Patch submitted in PR #516

[2018-12-20 21:07] dmhumph opened #517 "Error Creating Cluster in OpenShift: fsGroup: Invalid value: []int64{26}: 26 is not an allowed group"
**Describe the bug**
I am running OpenShift 3.11 and using pgo 3.4 from the quickstart.sh script.  Everything deploys fine initially until I try to deploy a cluster.  The error back from OpenShift is: Error creating: pods "mycluster-59dbc4cdb-" is forbidden: unable to validate against any security context constraint: [fsGroup: Invalid value: []int64{26}: 26 is not an allowed group]

**To Reproduce

[2018-12-20 21:40] jmccormick2001 commented on #517
correct, the quickstart script assumes the cluster admin has allowed fsgroup 26 in the restricted scc, but we have been thinking of adding a scc specific to the operator that people can install with, we might go that way eventually.

[2018-12-20 21:50] dmhumph commented on #517
Is that documented somewhere for OpenShift that a user with the cluster-admin role needs to allow fsgroup 26 in the restricted scc?
Something like "In OpenShift a user with cluster-admin role needs to run the following command before running the quickstart.sh"
And is this the proper command?
oc adm policy add-scc-to-group restricted 26
where restricted is the scc name and 26 is the group name.

[2018-12-20 21:57] jmccormick2001 commented on #517
fsGroup:
  type: RunAsAny

I change that as the cluster admin by running:
oc edit scc restricted

then I make that change, this is for development/testing, for a real production deployment
you would likely reduce the scope of that range, in the OCP docs they give an example
of specifying a set range of GID's.

People like you say typically however will create a dedicated scc for various apps
to wo

[2018-12-20 22:16] dmhumph commented on #517
Thank you.  I will see about creating a custom scc to work in this setup.  If I get something working that is more secure than RunAsAny I am happy to add to the documentation on the steps.

[2018-12-21 08:17] kruczjak commented on #382
Hi, actually I know what can be causing that problem on AWS (I have same problem).

EBS disk are created per 'availability zone'. (node in e.g. eu-central-1a region can't mount drive from eu-central-1b)

If you look at volumes created while scaling or creating multi-AZ cluster, you can see 3 volumes created only for one pod and unfortunately they can be created in different AZ.

![image](https://u

[2018-12-21 14:14] jmccormick2001 commented on #382
hmmn, I'm not very aware of AWS storage but if there is a way to annotate a PVC to make it target a specific zone I could make that change in the Operator when it provisions out the various PVCs.  If so, then at least the entire PG cluster would use the same zone, the replica could use a different zone to provide some HA.

[2018-12-26 09:01] chendo opened #518 "Pod Anti-affinity for high availability"
**What is the motivation or use case for the change?**

Multiple pods belonging to the same cluster should not be running on the same host as another pod. Manually applying a pod anti-affinity rule causes a deployment to happen and also triggers a failover if `--autofail` is in use.

**Describe the solution you'd like**

A cluster deployment should apply relevant pod anti-affinity rules by default

[2018-12-30 14:59] aelbarkani commented on #199
is there any documentation on how to create and manage the clusters through manifests instead of through pgo client ? we tested the operator and would like to adopt it in production, but it is blocking for us if we cannot configure the cluster through kubernetes manifests

[2018-12-30 21:47] jmccormick2001 commented on #199
the operator client API currently creates a set of resources when creating a PG cluster....those resources are made up of a) the Secrets that hold the initial default PG credentials, b) the pgcluster CRD that defines the PG cluster, and c) the pgtask CRD that tracks the workflow request

its possible today to create these resources manually but its not documented.  What I might end up doing is red

[2018-12-31 12:35] aelbarkani commented on #199
definitely yes! creating a unique pgcluster resource would do the job

[2018-12-31 12:49] aelbarkani opened #519 "Compatibility with HorizontalPodAutoscaler"
**What is the motivation or use case for the change? **

We use HorizontalPodAutoscaler to autoscale our DB read replicas to cope with traffic variations during the day/week. The way we do it now is to use crunchy operator only to provide the master, then we create an ad hoc statefulset for the slaves whose number of replicas are managed by the HPA. It would be great if we can have this natively i

[2019-01-02 22:57] jmccormick2001 commented on #426
should be resolved, the new version 3.5 will be out in January which greatly changes and speeds up failover.

[2019-01-02 22:57] #426 closed

[2019-01-02 22:59] jmccormick2001 commented on #507
possible I suppose to modify the Helm chart to create that config map for you, would be happy to accept a PR that creates that configmap via helm.

[2019-01-02 22:59] #507 closed

[2019-01-03 13:19] cahoonpwork commented on #406
@nchiluku if you need anything else on this please let us know.  I am closing for now.

[2019-01-03 13:19] #406 closed

[2019-01-03 19:32] dtseiler commented on #497
OCS took a bit more time simply because I'm not an OCS admin.

quickstart.sh not only requires OCS to be setup, but requires a storage class to be created (GKE had a "standard" one waiting, I had to manually create one in OCS), but also required the the pgo 3.4.0 and CCP 2.2.0 docker images to be manually pulled and tagged on my OCS VM.

Then I had to be sure to use 3.4.0, quickstart.sh does NOT w

[2019-01-03 21:51] jmccormick2001 commented on #506
fixed with 2.3.0 postgres container image.

[2019-01-03 21:51] #506 closed

[2019-01-03 22:30] jmccormick2001 commented on #497
I think we are good to go for now, thanks Don for helping out on this.

[2019-01-03 22:30] #497 closed

[2019-01-03 22:31] jmccormick2001 commented on #316
not a requirement yet, will close until I need to do this, it is supported now within the crunchy containers postgres container if we need this.

[2019-01-03 22:31] #316 closed

[2019-01-03 23:21] jmccormick2001 commented on #488
fix made, should be present in 3.5.0-rc2 build

[2019-01-03 23:21] #488 closed

[2019-01-04 00:06] jmccormick2001 commented on #471
changes applied to address this, will land in 3.5.0-rc2

[2019-01-04 00:06] #471 closed

[2019-01-04 00:40] jmccormick2001 commented on #465
fixed, will be present in 3.5.0-rc2 build.

[2019-01-04 00:40] #465 closed

[2019-01-04 00:43] jmccormick2001 commented on #345
this feature will first be made available in the 3.5.0-rc2 build.

[2019-01-04 00:43] #345 closed

[2019-01-04 13:39] cahoonpwork commented on #478
documentation and quickstart are being updated for Release 3.5.

[2019-01-04 13:39] #478 closed

[2019-01-09 10:14] nodanero commented on #199
I've seen using CRDs same way for other operators like "rook ceph" (https://rook.io/docs/rook/v0.9/ceph-block.html), Heptio Ark, CoreOS etcd.
I think is the best way at the moment.

[2019-01-09 20:20] jmccormick2001 commented on #505
this is implemented in the current RC, you will add a PreferredFailoverNode setting to the pgo.yaml Pgo section, see the docs for details.

[2019-01-12 17:31] jmccormick2001 commented on #511
move to clubhouse for tracking.

[2019-01-12 17:31] #511 closed

[2019-01-12 17:31] jmccormick2001 commented on #469
move to 3.6 in clubhouse for tracking.

[2019-01-12 17:31] #469 closed

[2019-01-12 17:32] jmccormick2001 commented on #467
move to 3.6 in clubhouse for tracking.

[2019-01-12 17:32] #467 closed

[2019-01-12 17:32] jmccormick2001 commented on #466
move to 3.6 in clubhouse

[2019-01-12 17:32] #466 closed

[2019-01-12 17:33] jmccormick2001 commented on #461
retaining for now.

[2019-01-12 17:33] #461 closed

[2019-01-12 17:34] jmccormick2001 commented on #458
tracking in clubhouse.

[2019-01-12 17:34] #458 closed

[2019-01-12 17:34] jmccormick2001 commented on #438
backups will run on the shared backrest repo starting in 3.5. but I'll leave this to address in 3.6 in clubhouse.

[2019-01-12 17:34] #438 closed

[2019-01-12 17:35] jmccormick2001 commented on #453
moving to clubhouse 3.6 for tracking.

[2019-01-12 17:35] #453 closed

[2019-01-12 17:36] jmccormick2001 commented on #451
moving to clubhouse 3.6 for tracking.

[2019-01-12 17:36] #451 closed

[2019-01-12 17:37] jmccormick2001 commented on #450
moving to clubhouse for tracking, milestone 3.6, this one is partially done in 3.5

[2019-01-12 17:37] #450 closed

[2019-01-12 17:37] jmccormick2001 commented on #340
moving to clubhouse 3.6 for tracking.

[2019-01-12 17:37] #340 closed

[2019-01-12 17:38] jmccormick2001 commented on #259
moving to clubhouse for tracking, 3.6

[2019-01-12 17:38] #259 closed

[2019-01-12 17:39] jmccormick2001 commented on #181
will be mostly implemented in 3.5 with the new scheduler, sql (policies) can be scheduled.  Not sure we want to schedule bash scripts at this point but am thinking about it for 3.6.

[2019-01-12 17:39] #181 closed

[2019-01-12 17:39] jmccormick2001 commented on #132
moving to clubhouse for tracking, 3.6

[2019-01-12 17:39] #132 closed

[2019-01-12 17:40] jmccormick2001 commented on #129
moving to clubhouse, 3.6

[2019-01-12 17:40] #129 closed

[2019-01-12 17:40] jmccormick2001 commented on #393
moving to clubhouse 3.6

[2019-01-12 17:40] #393 closed

[2019-01-12 17:41] jmccormick2001 commented on #182
movintg to clubhouse, milestone 3.6 for tracking.

[2019-01-12 17:41] #182 closed

[2019-01-12 17:42] jmccormick2001 commented on #513
moving to clubhouse 3.6 for tasking.

[2019-01-12 17:42] #513 closed

[2019-01-12 17:43] jmccormick2001 commented on #484
will be fixed with new 3.5 scheduler.  will track in clubhouse 3.5.

[2019-01-12 17:43] #484 closed

[2019-01-12 17:47] jmccormick2001 commented on #476
tracking in clubhouse, shoudl be fixed in 3.5

[2019-01-12 17:47] #476 closed

[2019-01-12 17:48] jmccormick2001 commented on #464
moving to clubhouse for tracking, in 3.6

[2019-01-12 17:48] #464 closed

[2019-01-12 17:49] jmccormick2001 commented on #480
shoudl be fixed in upcoming 3.5 release.

[2019-01-12 17:49] #480 closed

[2019-01-12 17:50] jmccormick2001 commented on #468
moved to clubhouse

[2019-01-12 17:50] #468 closed

[2019-01-12 17:50] jmccormick2001 commented on #449
will be resolved with 3.5 release, moved to clubhouse for tracking.

[2019-01-12 17:50] #449 closed

[2019-01-12 17:51] jmccormick2001 commented on #463
moved to clubhouse for tracking.  moved to 3.6.

[2019-01-12 17:51] #463 closed

[2019-01-12 17:52] jmccormick2001 commented on #448
moved to clubhouse for tracking, 3.6

[2019-01-12 17:52] #448 closed

[2019-01-12 17:53] jmccormick2001 commented on #443
moving to clubhouse for tracking, 3.6

[2019-01-12 17:53] #443 closed

[2019-01-12 17:53] jmccormick2001 commented on #433
moving to clubhouse for tracking and scheduling.  3.6

[2019-01-12 17:53] #433 closed

[2019-01-12 17:54] jmccormick2001 commented on #427
move to clubhouse, 3.6

[2019-01-12 17:54] #427 closed

[2019-01-12 17:54] jmccormick2001 commented on #421
moving to clubhouse.

[2019-01-12 17:54] #421 closed

[2019-01-12 17:55] jmccormick2001 commented on #416
moving to clubhouse.

[2019-01-12 17:55] #416 closed

[2019-01-12 18:09] jmccormick2001 commented on #408
fixed in upcoming 3.5 release.  moving to clubhouse for tracking.

[2019-01-12 18:09] #408 closed

[2019-01-12 18:12] jmccormick2001 commented on #388
moving to clubhouse for tracking and development.

[2019-01-12 18:12] #388 closed

[2019-01-12 18:14] jmccormick2001 commented on #360
moving to clubhouse

[2019-01-12 18:14] #360 closed

[2019-01-12 22:12] jmccormick2001 commented on #325
moved to clubhouse, set to 3.6

[2019-01-12 22:12] #325 closed

[2019-01-12 22:12] jmccormick2001 commented on #221
moved to clubhouse.

[2019-01-12 22:12] #221 closed

[2019-01-12 22:14] jmccormick2001 commented on #220
moved to clubhouse

[2019-01-12 22:14] #220 closed

[2019-01-12 22:14] jmccormick2001 commented on #222
move to clubhouse

[2019-01-12 22:14] #222 closed

[2019-01-12 22:15] jmccormick2001 commented on #223
moving this issue to clubhouse for  scheduling.

[2019-01-12 22:15] #223 closed

[2019-01-12 22:16] jmccormick2001 commented on #192
moved to clubhouse.

[2019-01-12 22:16] #192 closed

[2019-01-12 22:16] jmccormick2001 commented on #185
implmented in 3.5

[2019-01-12 22:16] #185 closed

[2019-01-12 22:17] jmccormick2001 commented on #359
move to clubhouse

[2019-01-12 22:17] #359 closed

[2019-01-12 22:17] jmccormick2001 commented on #179
move to clubhouse

[2019-01-12 22:17] #179 closed

[2019-01-12 22:18] jmccormick2001 commented on #174
move to clubhouse

[2019-01-12 22:18] #174 closed

[2019-01-12 22:19] #168 closed

[2019-01-12 22:31] jmccormick2001 commented on #175
moved to clubhouse.

[2019-01-12 22:31] #175 closed

[2019-01-12 22:40] jmccormick2001 commented on #477
I added a new example to the 'pgo show pvc' CLI help, but this will probably be replaced soon with a 'pgo show volume' command that will be probably more useful to people for poking into mounted volumes.

[2019-01-12 22:40] #477 closed

[2019-01-12 22:43] jmccormick2001 commented on #361
completed/.

[2019-01-12 22:43] #361 closed

[2019-01-12 22:43] jmccormick2001 commented on #483
moved to clubhouse.

[2019-01-12 22:43] #483 closed

[2019-01-12 22:44] jmccormick2001 commented on #352
will move to clubhouse, schedule for development.

[2019-01-12 22:44] #352 closed

[2019-01-12 22:45] jmccormick2001 commented on #326
moving to clubhouse.

[2019-01-12 22:45] #326 closed

[2019-01-12 22:46] jmccormick2001 commented on #260
I think this is implemented in 3.5 with pgbackrest shared repo and also the xlogstorage config in pgo.yaml.  Moved to clubhouse.

[2019-01-12 22:46] #260 closed

[2019-01-12 22:47] jmccormick2001 commented on #78
moved to clubhouse.

[2019-01-12 22:47] #78 closed

[2019-01-12 22:48] jmccormick2001 commented on #351
moved to clubhouse.

[2019-01-12 22:48] #351 closed

[2019-01-12 22:48] jmccormick2001 commented on #206
moved to clubhouse.

[2019-01-12 22:48] #206 closed

[2019-01-12 22:48] jmccormick2001 commented on #62
moved to clubhouse

[2019-01-12 22:48] #62 closed

[2019-01-12 22:49] jmccormick2001 commented on #61
OBE, we dn't support major upgrades at this point in the operator.

[2019-01-12 22:49] #61 closed

[2019-01-14 02:18] drshrey opened #536 "Returns success response but no cluster created"
**Describe the bug**
I call the create cluster command through the REST api like this:
[code]

I get back the response:
[code]

However, when I check kubernetes, I don't see any pods/ services created as a result.

**To Reproduce**
Steps to reproduce the behavior:
1. create a cluster foo
2. Delete the cluster foo
3. Immediately create cluster foo right after
4. `kubectl get pods` within the namesp

[2019-01-14 11:58] umdkevin commented on #175
sorry.. what does moved to clubhouse mean ?

[2019-01-14 13:30] lkhomenk opened #537 "Direct CRD yaml edition issue"
** Which example are you working with? **
[Docs for 3.5](https://crunchydata.github.io/postgres-operator/stable/design/) tells: "Metadata about the Postgres cluster deployments are stored within these CRD resources which act as the source of truth for the Operator."
But direct edit on pgcluster CRD doesn't apply any changes. Is there any possible way to interact with postgres-operator w/o `pgo` to

[2019-01-14 14:20] jmccormick2001 commented on #175
sorry about that, clubhouse is an internal system we use to track development tasks generated by internal folks.

[2019-01-15 18:33] Zman94 commented on #232
Hello. Did the documentation ever get updated?

[2019-01-15 18:40] cahoonpwork commented on #232
@Zman94
Here is the link to the most up to date documents.  These will work for what is on the develop branch and 3.5 release candidates.  We are still working on the documents, so if you use them and run into issues let us know.

https://crunchydata.github.io/postgres-operator/latest/installation/installation/

[2019-01-17 16:12] sharkymcdongles opened #541 "Upgrade Guide for 3.3.0 to 3.4.0 is inconsistent with actual deployments"
**Describe the bug**
Upgrade guide says this:

However when I check the crd.yaml it shows there is not such field added at all. Am I to read this to say that there is a new feature added, but it doesn't need to be defined in the CRDs? It's very vague as it stands.

[2019-01-17 16:30] jmccormick2001 commented on #541
Hi,

the crd.yaml doesn't show the CRD fields but just the skeleton of the CRD, if you
take a look at the CRD resources created:

kubectl get pgbackup somevalue -o json

you should see the various fields that are in each CRD resource being created.  Here is
an example from a 'pgo backup somecluster --backup-opts="--gzip --format=tar" ' command that
shows the backupopts field being filled in:

{

[2019-01-22 01:54] chrisdrew1 opened #544 "example nfs yaml"
** Which example are you working with? **
setting up nfs on the pgo operator

**What is the current behavior?**
Documentation here https://crunchydata.github.io/postgres-operator/stable/installation/configuration/#_storage_configuration

**What is the expected behavior?**
**Examples of the yaml files don't seem to exist anywhere in the project like referenced.**

Are those missing for a reason?  A

[2019-01-22 02:04] jmccormick2001 commented on #544
this is an error in the documentation, those template examples are no longer used, instead
the default pgo.yaml file conf/postgres-operator/pgo.yaml includes an example of
specifying a storage config for each supported type (nfs, hostpath, storage class).  This documentation error is soon to be updated with the 3.5 release which is going to go out this week.

[2019-01-22 11:40] GajaHebbar opened #545 "Use postgres-operator as fail-over mechanism for existing primary replica helm chart"
**Which example are you working with?**

working with operator helm to integrate with existing helm chart which deploys primary,replica,pgpool https://github.com/CrunchyData/postgres-operator/tree/develop/chart/postgres-operator

We have adopted crunchy db primary replica with pgpool and for fail-over we were trying to use crunchy-watcher. as watcher had issues and is deprecated, we want to use po

[2019-01-23 13:37] lkhomenk commented on #482
One can't edit default pgo.yaml after it was deployed with operator.
1. deploy operator with replicas=2
2. pgo show config
3. edit pgo-config config map pgo.yaml , set replicas to 3
4. pgo show config => still 2. although config map has 3.
@jmccormick2001 is it expected behavior? I know that some options can be overridden during  `pgo create cluster`. but updating defaults is also needed

[2019-01-23 14:34] jmccormick2001 commented on #482
if you make any changes to pgo.yaml or one of the operator templates you will need to run 'make deployoperator' to pull in those changes.

[2019-01-23 23:18] chrisdrew1 commented on #544
Thank you.

[2019-01-23 23:18] #544 closed

[2019-01-24 11:08] Klaas- commented on #517
This will stop openshift from upgrading. it will present this message:

`Changes to bootstrapped SCCs have been detected. Please review the changes by running "oc adm policy --config=/etc/origin/master/admin.kubeconfig reconcile-sccs --additive-only=true" After reviewing the changes please apply those changes by adding the '--confirm' flag. Do not modify the default SCCs. Customizing the default S

[2019-01-24 20:48] lkhomenk opened #558 "3.5.0 Documentation doesn't have any "Custom Config" section"
**Describe the bug**
Latest 3.5.0 docs don't have "Custom Config" section. but it still works same way
3.4.0 docs already unavailable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://crunchydata.github.io/postgres-operator/stable/#documentation'
2. Search for  on 'pgo-custom-pg-config'

**Expected behavior**
Should be there

**Additional context**
How can one get versioning of

[2019-01-24 20:50] lkhomenk commented on #558
94e3b6effd49e6d037838ba7dd41a8a53c107b35 SHA . latest commit just in case

[2019-01-25 01:37] ron1 opened #559 "Enable managment via Operator Framework - Operator Lifecycle Manager (OLM)"
**What is the motivation or use case for the feature?**
Installation and management of the Postgres Operator should be consistent with other Operators available in the Operator Marketplace.

**Describe the solution you'd like**
The Operator Lifecycle Manager (OLM) component of the Operator Framework (https://github.com/operator-framework/operator-lifecycle-manager) provides a declarative way to in

[2019-01-25 05:52] woopla opened #560 "Allow clusters to be deployed to a different namespace"
**What is the motivation or use case for the change? **
As already discussed in #8, currently the operator can only deploy databases in the namespace it was installed in. This is sub-optimal, especially with Openshift where you are encouraged to separate concerns by creating one project per software being deployed.

**Describe the solution you'd like**
I would like to have an option to deploy a Po

[2019-01-25 10:23] lkhomenk commented on #537
@jmccormick2001 Could you please suggest anything here?

[2019-01-25 10:31] lkhomenk commented on #559
for above one would need https://github.com/CrunchyData/postgres-operator/issues/537 . and that might not work with current approach with `pgo` binary as user interface to manage operator

[2019-01-25 13:55] jmccormick2001 commented on #560
related to this Issue, we are currently working on making the Operator run cluster-wide in its own namespace, servicing any user namespace.  Should happen in 3.6.0.  regards.

[2019-01-25 13:57] jmccormick2001 commented on #559
an update, the Operator is first going to be changed to run in its own namespace and service n-number of user namespaces, that work has started and I expect it to be present in 3.6.0.  After that, our goal is to support a tighter integration into Openshift.  regards.

[2019-01-25 14:00] jmccormick2001 commented on #537
I'll try this today.

[2019-01-25 15:59] ron1 commented on #537
Hi Jeff,

This is a significant ease-of-use improvement over the pgo client from my perspective. Thanks, Note that I will give it a try and provide feedback.

In the documentation, please be careful to distinguish between Custom Resources Definitions (CRDs) and Custom Resources as instances of CRDs. For example, the documentation https://github.com/CrunchyData/postgres-operator/blob/develop/exampl

[2019-01-25 17:07] woopla commented on #560
Oh that's great, thanks for the quick follow-up @jmccormick2001

[2019-01-26 18:39] chrisdrew1 opened #562 "Included CentOS image doesn't work."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
deploy cluster with default install
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
With the default image for centos included in the pgo.yaml file it won't download

[2019-01-26 18:42] chrisdrew1 opened #563 "expenv is not available with default install"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
default install
2. Click on '....'
make installrbac

3. Scroll down to '....'
4. See error
[root@us01vlk8sm00229 AKA  postgres-operator]# make installrbac
cd deploy && ./install-rbac.sh
Error from server (NotFound): serviceaccounts "postgres-operator" not found

[2019-01-26 18:47] chrisdrew1 opened #564 "--metric usage instructions"
** Which example are you working with? **
3.5 installation docs
**What is the current behavior?**

**What is the expected behavior?**

**Other information** (e.g. detailed explanation, related issues,  etc)

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local , Cloud Provider)
local
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Ta

[2019-01-27 21:44] lkhomenk commented on #537
@jmccormick2001 that's a bit another case. I meant more something like:
1)create pgcluster `test_pg` - with pgo or from yamls with replica 1
2)go and edit pgcluster `test_pg` object - `oc edit pgclusters.cr.client-go.k8s.io test_pg` set replica=3
3.1)postgres_operator just notices that cluster `level=debug msg="pgcluster test_pg updated" ` , without making any changes
alternatively:
3.2)scale up +

[2019-01-28 10:53] lkhomenk commented on #562
centos7-10.6-2.2.0 - is a tag of crunchy-postgres and some other stuff from crunchy-containers. it comes from separate repo. and while development is really intense - versions change really fast :clap: . please check https://hub.docker.com/r/crunchydata/crunchy-postgres/tags to get a list of all valid tags for that image

[2019-01-28 13:07] chrisdrew1 commented on #562
Ah, perfect.  Thank you.

[2019-01-28 13:07] #562 closed

[2019-01-29 03:11] ron1 commented on #537
@lkhomenk, according to https://github.com/CrunchyData/postgres-operator/blob/develop/examples/create-by-resource/fromcrd.json, spec.replicas (with an 's') is the metadata field to control the number of replicas and not spec.replica which you mention in your comment. It might be that spec.replica is inherited but not used by the postgres-operator.

[2019-01-29 14:34] lkhomenk commented on #537
@jmccormick2001 amount of replicas is just an example, which shows that pgcluster yaml is not a golden source of truth. It means that yamls just show initial state of the object and any further editions of the object do not apply any changes

[2019-01-29 15:01] jmccormick2001 commented on #564
take a look at the Crunchy Containers documentation for running the grafana and prometheus used by the Operator.

[2019-01-29 23:45] lkhomenk opened #568 "Autofailover and pgpool"
** Which example are you working with? **
How should this 2 cooperate?Lets assume default configs for pgpool. Pgpool points to 2 services - `clustername` and `clustername-replica`.in case we have 3 replicas(all 3 behind replica service) + 1 primary. killing primary - makes pgpool to point all traffic to `clustername-replica` service as main pod behind `clustername` was unavailable. but after - aut

[2019-01-30 10:14] PowerStateFailure opened #569 "Scheduled pgbackrest task failed to take backups"
**Describe the bug**
Scheduled task from `pgo schedule --schedule-type="pgbackrest"` can not take backups. Here's logs from crunchy-scheduler:

[code]

By the way, `pgo backup` works fine, I can see successed manual backups via `pgo show backup`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install postgres-operator v3.5.0 via helm (from ./chart subdir because of incorrect release archive

[2019-01-31 11:32] lkhomenk opened #571 "Hardcoded database"
**Describe the bug**
Hardcoded database in pgbouncer.ini config - https://github.com/CrunchyData/postgres-operator/blob/89fef9fc325c0645a604fba7c7b41448663bcdda/conf/postgres-operator/cluster/1/pgbouncer.ini#L2

**Expected behavior**
Operator PG_DATABASE should be considered here, but it's ignored

[2019-02-01 19:55] joaocc commented on #571
Any problem i just replacing `dbname=userdb` with `dbname={{.PG_DATABASE}}`?

[2019-02-01 20:50] lkhomenk commented on #571
It should be also added into pgbouncer.go
And if one adds " * = host... " into pgbouncer.ini - > `pgo test` will fail connectivity test via pgbouncer

[2019-02-04 17:02] jasonodonnell commented on #569
The helm chart for installing operator is installing the old scheduler (`crunchy scheduler`, should be `pgo-scheduler`).

Will fix this, thanks for the report

[2019-02-04 19:42] jasonodonnell commented on #569
Fixed in #576, thanks!

[2019-02-05 08:21] PowerStateFailure commented on #569
I've tested your changes, and now scheduled backup works properly, thanks!

[2019-02-05 08:21] #569 closed

[2019-02-05 16:01] jmccormick2001 commented on #518
this actually used to work this way by default, probably a bug, I'll take a look.

[2019-02-05 17:21] jmccormick2001 commented on #518
ok, definitely was a bug, this will be fixed in 3.5.1 (end of Feb), this logic is triggered if the user specifies --node-label when creating a cluster...the In and NotIn affinity rules will be created for primary and any replicas created.

[2019-02-05 17:43] devlounge opened #578 "manifests: please use Yaml instead of Json"
**What is the motivation or use case for the change? **

Readability and more condensed files

**Describe the solution you'd like**
Many manifests in this repository are written in Json instead of Yaml.
Yaml became a standard for manifests in Kubernetes projects.
As they say, Json is for computers, Yaml is for humans.

[2019-02-06 12:36] KASOGIT opened #579 "crunchydata/crunchy-postgres:centos7-11.1-2.3.0-rc6 not found"
**Describe the bug**
When creating cluster with the pgo it can't pull the image: crunchydata/crunchy-postgres:centos7-11.1-2.3.0-rc6

**To Reproduce**
1: pgo create cluster mycluster
2: kubectl describe pod <name-pod>
**Expected behavior**
Shoud pull the right image like crunchydata/crunchy-postgres:centos7-11.1-2.3.0 present on the dockerhub

**Please tell us about your environment:**

* Operatin

[2019-02-06 12:52] cahoonpwork commented on #579
It looks like the rc tag was not remove from pgo.yaml.  You will need to update  CCPImageTag:  centos7-11.1-2.3.0-rc6 and redeploy the operator it for it to pick up the correct image.

[2019-02-06 13:21] KASOGIT commented on #579
That's what i did and images are pulled well now !

[2019-02-06 13:21] #579 closed

[2019-02-06 13:29] KASOGIT opened #580 "Can't connect to database authentication failed"
**Describe the bug**
After deployment of the cluster connecting to database with set credentials ends up in an authentication fail.

**To Reproduce**
1. Create the cluster with pgo: pgo create cluster mycluster
2. forward port: kubectl port-forward $(kubectl get pod --selector=name=mycluster -o=jsonpath="{.items[0].metadata.name}") 5432:5432
3. psql -h 127.0.0.1 -U testuser postgres

**Expected be

[2019-02-07 09:46] devlounge commented on #578
Another thing, I noticed that multiple templates used by the operator have a mix of tabs and spaces.

[2019-02-07 10:45] devlounge commented on #536
Same issue here (3.5.0)

[2019-02-08 09:13] lkhomenk opened #588 "pgo-backrest + S3 - is it doable?"
** Which example are you working with? **
Trying to backup data to S3. but current architecture seems not allowing it:
1) backrest-repo pod is created for each replica - it's not needed at all
2) backrest-jobs - {.Podname} - it would be nice to run backup/archivation on any available replica pod. updating pgo-config configMap doesn't apply any changes. we have to redeploy operator
3) with all abov

[2019-02-08 09:33] lkhomenk commented on #588
@jmccormick2001 could you please shed some light on this?

[2019-02-08 19:23] cahoonpwork commented on #588
@lkhomenk We have not worked on adding S3 support through the Operator yet though pgbackrest supports it, so you can configure it as you have but that is why you are seeing the shared pods still..  As for part 2, that is correct the operator needs to be redeployed at this point to pick up those changes.   We do plan adding support for S3, so any suggestions for that integration are welcomed and wi

[2019-02-13 15:31] jmccormick2001 commented on #536
I'll take a look.

[2019-02-13 19:04] ron1 commented on #559
OLM allows for multiple installModes including OwnNamespace, SingleNamespace, MultiNamespace, and AllNamespaces. There is no reason why the current v3.5.0 operator couldn't have a CSV that only supports installMode type OwnNamespace. Then when v3.6.0 is released, its CSV could support additional installMode types. It would be ideal if the CrunchyData Postgres Operator integrated with OLM sooner ra

[2019-02-13 19:31] tritruong commented on #536
I'm having the same issue (Kops, Po 3.5.0, Helm), the error probably comes from JSON unmarshalling error

Here is the full log

time="2019-02-13T19:19:59Z" level=debug msg="[PgtaskCONTROLLER] OnAdd /apis/cr.client-go.k8s.io/v1/namespaces/postgres-operator/pgtasks/mycluster-createcluster"
time="2019-02-13T19:19:59Z" level=debug msg="UPDATED status: &v1.Pgcluster{TypeMeta:v1.TypeMeta{Kind:\"\", APIV

[2019-02-20 07:42] lkhomenk opened #593 "Pgbackrest restore ingnores "--storage-config" which was used during Cluster creation"
**Describe the bug**
1. Create cluster overriding storage-config "--storage-config=pvc10G --pgbackrest"
2. Create backup
3. Restore cluster
4. Restored cluster uses - PrimaryStorage from pgo.yaml

**Expected behavior**
Restore should consider storage-config which was used during cluster creation

**Additional context**
I've seen Issue #349 , but haven't found anything in 3.5.0 docs about that

[2019-02-20 09:42] lkhomenk commented on #588
1. configured `pgbackrest-env-vars.json` for local backups using S3
2. `pgo-backrest-repo-template` - for remote S3 using primary db/host + left `backrest-job.json` as is - to leave `pgo backup\restore\stanza create` jobs working
3. `backrest-restore-job.json` configured for local s3
 everything kinda works. backrest-shared repo pod is used only to work with `pgo backup\restore` - jobs are not fai

[2019-02-20 09:54] lkhomenk opened #594 "Add {{.ClusterName}} support into collect.json, pgbackrest-env-vars"
**What is the motivation or use case for the change? **
ClusterName might be used inside configuration of primary deployment - e.g. backup path
Using {{.Name}} - breaks things while restored pod or replica would have another name.
Workaround - fetching ClusterName from the label. But all other modules like `cluster-service-1.json, pgo-backrest-repo-template.json , etc` - all of them do have {{.Clu

[2019-02-20 19:12] lkhomenk commented on #450
@jmccormick2001 so there will be not way to label all cluster items at once during creation?

[2019-02-20 20:40] lkhomenk opened #595 "Default storageClass is ignored"
**Describe the bug**
If no `StorageClass` was specified in storage configuration part in pgo.yaml - default environment default StorageClass is ignored, while pvc has empty `storageClassName` - https://github.com/CrunchyData/postgres-operator/blob/master/conf/postgres-operator/pvc-storageclass.json#L15

**To Reproduce**
Steps to reproduce the behavior:
1. Have a default storageClass setup in the k

[2019-02-20 21:02] lkhomenk opened #596 "Dynamic parameters for pgbackrest"
**What is the motivation or use case for the feature? **
Currently pgbackrest has hardcoded stanza/repo-path. Which are pretty important and can't be edited dynamically or overridden.
Situation when 1 Operator should rule multiple clusters and store archive/backup on S3 using pgbackrest
- We can't label jobs/shared-backrest-repo/restore-job pods during creation to pull some values from labels to c

[2019-02-21 01:18] jmccormick2001 commented on #450
the pg-cluster label is the one that gets typically applied to all related resources that pertain to a given PG cluster, but currently when you add a label to a CRD or cluster, the operator doesn't apply that same label to all related objects, that would be perhaps a good feature to add.

[2019-02-21 07:25] lkhomenk opened #597 "XLogDir and it's PV is useless with PGBACKRET=true"
**Describe the bug**
XLog PV gets created if `ArchiveMode=true`, but enabling `PGBACKREST=true` is also enables archiving and replaces archive_command in postgresql.conf, which pushes all archive into another location making `/pgwal/cluster_name` folder stay useless and empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Create cluster with `--pgbackrest` and "XLogDir=false"
2. Check prim

[2019-02-21 21:31] lkhomenk commented on #594
wrong description. my bad - better to recreate

[2019-02-21 21:31] #594 closed

[2019-02-22 15:09] lkhomenk opened #600 "Add generic cluster variables support to collect.json, pgbackrest-env-vars.json, etc"
**Describe the bug**
Collect.json , pgbackrest-env-vars.json and others optional jsons do not support `.ClusterName`,`.Database` variables. those variables are pretty usable.
At the moment collect container has hardcoded database ans db password

**To Reproduce**
Steps to reproduce the behavior:
1. Provision cluster with DB other than `postgres` in pgo.yaml
2. Add metrics container
3. Check metric

[2019-02-22 16:44] jmccormick2001 commented on #593
I've created a fix for this that will be present in the upcoming 3.5.1 bug fix release.  That release will land next week.  thanks for reporting this one.

[2019-02-22 16:44] #593 closed

[2019-02-22 20:38] lkhomenk commented on #450
Thank you a lot Jeff. That would be really great!

[2019-02-22 20:48] lkhomenk commented on #596
Update with some recent findings :
- there's still a variable called GLOBAL_PGBACKREST_CUSTOM_CONFIGMAP in utils.go. It confused me a bit. As in November there was an update which removed pgbackrest.conf from pgo-custom-config configmap and "pgbackresrt-env-vars" was introduced. But pgbackresrt-env-vars can't use many of cluster fields(Cluster Name, Database) and it can't be used neither in backre

[2019-02-22 21:41] jmccormick2001 commented on #596
yeah, that is a remnant of the old way we did pgbackrest configuration, it needs to be removed which I'll make a note to do...going forward, we will try to use the backrest environment variables to configure backrest, injecting them into the pods as needed.  thanks for catching this one.

[2019-02-23 11:02] tritruong commented on #536
I'm able created cluster after fix these:
In the template file "cluster-deployment-1.json",

    1/ It should be .spec.metadata.name instead of .spec.metadata.labels.name. This will cause duplicate "name" field in generated json
    https://github.com/CrunchyData/postgres-operator/blob/develop/chart/postgres-operator/files/postgres-operator/cluster/1/cluster-deployment-1.json#L16

    2/ Duplicate

[2019-02-25 20:38] lkhomenk opened #603 "--pgbouncer doesn't trigger all crunchy-pgbouncer logic"
**Describe the bug**
--pgbouncer flag doesn't add `PGBOUNCER_PASSWORD` which is crucial for setting up pgbouncer.
`/opt/cmp/bin/modules/pgbouncer.sh` depends on this variable. w/o it default auth_query is useless:
`auth_query = SELECT username, password from pgbouncer.get_auth($1)` while there's no `pgbouncer.get_auth` function

**To Reproduce**
Steps to reproduce the behavior:
1. create cluster w

[2019-02-25 21:51] lkhomenk commented on #603
@jmccormick2001 I've seen some comments on items related to pgbouncer, that it should get some fixes in 3.6. Can this one also get into 3.6?

[2019-02-25 21:56] jmccormick2001 commented on #603
we are working on this issue actually, it didn't make it into today's 3.5.1 release but hope to get it into 3.5.2...that code typically lives in the develop branch when it is ready...

[2019-02-25 21:57] jmccormick2001 commented on #603
@flamingdumpster

[2019-02-25 22:04] lkhomenk commented on #603
awesome news. I check it back in 3.5.2. great!

[2019-02-26 14:04] lkhomenk opened #604 "pgo scaledown can't get replicas"
**Describe the bug**
Can't scale down replicas

**To Reproduce**
Steps to reproduce the behavior:
1. `pgo create cluster postgresql-db --pgbouncer --pgbackrest --autofail --metrics --storage-config=pvc10G --resources-config=small --ccp-image-tag=centos7-10.7-2.3.1 --node-label=db=true --replica-count=2`
2. check `pgo show cluster postgresql-db`
3. compare with `pgo scaledown postgresql-realtime --

[2019-02-27 14:42] cahoonpwork commented on #564
Documentation was updated to point user to Crunchy Containers in the section mentioning metrics.

[2019-02-27 14:42] #564 closed

[2019-02-27 14:53] cahoonpwork commented on #578
Thanks for the input.  PGO.yaml is the main file that we expect users to update.  We are having internal discussions however on converting the files.

[2019-02-27 14:53] #578 closed

[2019-02-27 15:06] cahoonpwork commented on #541
closing as version 3.5.1 is out now, there were breaking changes in 3.5.0 so if you haven't upgraded yet here is a link to that https://crunchydata.github.io/postgres-operator/3.5.0/upgrade/

[2019-02-27 15:06] #541 closed

[2019-02-27 15:12] cahoonpwork commented on #518
3.5.1 has been released with this fix.  I'm going to close this out but if anyone runs into any issues just let us know.

[2019-02-27 15:12] #518 closed

[2019-02-27 17:49] #101 closed

[2019-02-27 19:53] ron1 commented on #559
@jmccormick2001 See https://github.com/operator-framework/community-operators/blob/master/community-operators/postgresql/postgres-operator.v3.5.0.clusterserviceversion.yaml for what appears to be an initial implementation of this capability. Was this developed in coordination with the CrunchyData postgres-operator team? If so, I will go ahead and close this issue.

[2019-02-27 20:01] jmccormick2001 commented on #559
we are collaborating a bit on this for sure.

[2019-02-27 20:36] ron1 commented on #559
Thanks. I will go ahead and close this request.

[2019-02-27 20:36] #559 closed

[2019-02-28 15:57] lkhomenk opened #606 "ClusterName length issue"
**Describe the bug**
It should be limited.
When one uses pgbackrest  - restore job might fail because of to big name
"backrest-restore-my-postgresql-realtime-to-my-postgresql-realtime-enyh", which exceeds 64 symbols labels limitation

**To Reproduce**
Steps to reproduce the behavior:
1. Create cluster with the name of 20 symbols and --pgbackrest
2. create backup
3. init restore
4. See error. Resto

[2019-02-28 16:00] jmccormick2001 commented on #606
should be fixed in 3.5.1.

[2019-03-01 12:54] lkhomenk opened #610 "Cluster status verification"
**What is the motivation or use case for the feature? **
`pgo` could provide Cluster status. At the moment it doesn't
[code]
Running pod doesn't tell that cluster creation finished or database is fine.
pgcluster CRD instance has a sort of status:
[code]
But that's also doesn't tell if cluster is fine
**Describe the solution you'd like**
It would be really usefully to get cluster state from `pgo` t

[2019-03-02 21:35] davecramer opened #614 "envs.sh not correct version"
the version in env.sh is wrong for the tag
Currently is 3.5.0

[2019-03-03 23:14] jmccormick2001 commented on #614
thanks corrected.

[2019-03-03 23:14] #614 closed

[2019-03-04 13:09] davecramer opened #615 "Why are we not using the env variable for the namespace"
The makefile does not use the env variable that we setup to switch to the namespace in make setupnamespace

https://github.com/CrunchyData/postgres-operator/blob/55e6be12baefcc6c7589b224e342fb6c2ed83732/Makefile#L54

[2019-03-04 13:22] devlounge commented on #536
Will this get fixed soon?

[2019-03-04 14:08] cahoonpwork commented on #536
Should be in the develop branch sometime this week.  Will be in 3.5.2, which should come out in the next couple of weeks.

[2019-03-04 14:46] cahoonpwork commented on #287
Just verified not seeing the issue with Containers 2.3.1  if you are still running into issues please let me know.  If I don't hear anything in a couple of days I'll close out the issue.  Thanks.

[2019-03-05 13:52] lkhomenk opened #617 "No way to add multiple --node-labels"
**What is the motivation or use case for the feature? **
It could be pretty useful to add filters based on multiple node-labels while there's no possible way to keep few strategies on postgres-operator in case one would like to handle multiple different type pgclusters from one operator
**Describe the solution you'd like**
--node-label - accepts only 1 label at the moment. `matchExpressions` of af

[2019-03-05 14:27] flamingdumpster commented on #571
@lkhomenk , thinking about changing that line in pgbouncer.ini to something like this:

 * = host={{.PG_PRIMARY_SERVICE_NAME}} port=5432 auth_user={{.PG_USERNAME}}

Wanted your thoughts on any downside to doing it that way.

[2019-03-05 18:18] lkhomenk commented on #571
@flamingdumpster, yep I did that. But that way replica service won't be available at least for read-only

[2019-03-05 18:20] flamingdumpster commented on #571
ok, going to update so that all parameters in that line are configurable through a variable.

[2019-03-06 08:29] david-ecc opened #618 "Helm chart not updated"
The helm-chart in release 3.5.1 is not updated and still uses version 3.5.0 (operator) und 2.3.0 (container).

[code]

[2019-03-06 13:26] cahoonpwork commented on #618
Thanks for letting us know.   I will verify/fix our script that updates versions.

[2019-03-06 15:13] lkhomenk opened #619 "pgo-scheduler required labels issue"
**Describe the bug**
Doc tells that only `crunchy-scheduler: true` is required.
But to make `pgo show schedule <cluster-name>` work one needs to add `pg-cluster: <cluster-name>` label too

**Steps**
1. Create configMap for pgo-scheduler w/o label `pg-cluster: test-cluster`
2. `pgo show shedule test-cluster`
3. `No schedules found.`

**Expected behavior**
Without `pg-cluster: <cluster-name>` - sche

[2019-03-11 20:36] #395 closed

[2019-03-11 20:36] #413 closed

[2019-03-11 20:36] #437 closed

[2019-03-11 20:36] #444 closed

[2019-03-11 20:36] #470 closed

[2019-03-11 20:36] #485 closed

[2019-03-11 20:36] #501 closed

[2019-03-11 20:36] #382 closed

[2019-03-11 20:36] #519 closed

[2019-03-12 09:50] domcar opened #632 "unsupported protocol scheme """
**Which example are you working with?**

First installation of the operator

**What is the current behavior?**
I can't communicate with the Operator

**Other information** (e.g. detailed explanation, related issues,  etc)
I installed the operator with the following steps:
- cd charts
- ./gen-pgo-keys.sh
- helm install --name postgres-operator --namespace=postgres-operator postgres-operator
- expor

[2019-03-12 13:45] domcar commented on #632
**Update**
I can communicate with the operator if I use `export CO_APISERVER_URL=https://IP:8443`

[2019-03-12 13:52] #632 closed

[2019-03-13 13:39] domcar opened #635 "backrest not working with crhunchy-postgres-gis"
**Describe the bug**
backrest-stanza-create fails if I use the image crunchy-postgres-gis

**To Reproduce**
Deployed with helm chart

I guess it depends on the sshd service not starting on this image, from the logs:
`k logs -f dom-cluster-7b854d69bd-hnjdx -c database`
[code]

[2019-03-13 13:47] cahoonpwork commented on #618
this will be updated in the next release and I scripted the missing versions so we shouldn't have the issue in the future.

[2019-03-13 15:14] domcar commented on #618
@cahoonpwork I edited manually the Tag but I get this error when I deploy:
[code]

Do I need to edit something else other than `pgo.yam` and `values.yaml` ?

[2019-03-13 17:59] Sayrus opened #637 "crunchy-pgpool: "true" / crunchy-pgbouncer: "true" disables pod tagging"
**Describe the bug**
When a cluster has a pgpool, deployments are created with `crunchy-pgpool: true`.
They won't get a service-name. Hence, they won't be accessible by using the corresponding service (selector `service-name: <cluster_name>`). This means that pgpool can't access them, that replica are stuck waiting for the master node and that the master node is waiting for connections but no one

[2019-03-14 07:32] domcar opened #638 "Restore not working"
**Describe the bug**
After a backup is successfully taken I tried to restore it but it fails

**To Reproduce**
1. Backup `./pgo-mac backup dom-cluster`
2. Restore `./pgo-mac restore dom-cluster`
Logs from operator:
[code]
And if I run the restore again:
[code]

The same error occurs if I use a `--backup-type=pgbackrest`

* Operating System: Mac
* Where is this running: GKE
* Storage being used (NF

[2019-03-14 13:47] jmccormick2001 commented on #638
pgo restore is only for a pgbackrest restore, this is not clear in the docs and will get fixed!

here are the restore steps for backrest:

pgo create cluster mybackrest --pgbackrest
pgo backup mybackrest --backup-type=pgbackrest
pgo restore mybackrest

[2019-03-14 13:56] domcar commented on #638
thanks @jmccormick2001 I figured it out meanwhile.
Unfortunately I can't use pgbackrest because of https://github.com/CrunchyData/postgres-operator/issues/635

Anyway I still have some problems with pg_basebackup when I run
`./pgo-mac.3.5.1 create cluster restored --backup-path=/pgdata/mycluster-backups/2019-03-14-13-19-07 --backup-pvc=mycluster-backup --secret-from=dom-cluster --replica-count=1`

[2019-03-14 14:21] jmccormick2001 commented on #638
the backup path should be mycluster-backups/2019-03-14-13-19-07
don't include the /pgdata in that.

[2019-03-15 09:04] domcar commented on #638
Thanks a lot, this helped and I was able to restore the cluster with data in it.

Still another problem, the primary cluster is created without problem, but the replica does not start because the backup PV is already attached to the primary cluster. This is the error from the describe command:

[code]

Since I'm using k8s on GCE i have readonlyonce as accessmode, in the documentation I didn't read

[2019-03-15 12:20] domcar opened #640 "Authentication falied for some command"
**Describe the bug**
Few client commands fail with authentication failed

**To Reproduce**
./pgo-mac.3.5.1 scale dom-cluster --replica-count=1
WARNING: Are you sure? (yes/no): yes
Error: Authentication Failed: 401

Instead I can execute without problems other command like create, restore etc.
**Please tell us about your environment:**
Operator 3.5.1 deployed with Helm chart

* Operating System: Ma

[2019-03-15 13:30] cahoonpwork commented on #638
@domcar I suspect you have multi-zone and multi-node out in GKE.  Take a look at this document: https://github.com/CrunchyData/postgres-operator/blob/develop/hugo/content/Design/_index.md , to update your storageclass.

[2019-03-15 13:39] cahoonpwork commented on #640
@domcar  I have not experienced that, I test against GKE on centos 7.  Is it the same command(s) every time or is it randomly happening?  Is there anything in the logs when this happens?

[2019-03-15 13:54] domcar commented on #640
It's always the same commands, I know of `update` and `scale`.
For example the folowing two commands:
[code]
And after
[code]

The api-server show (for a failed update command):
[code]

[2019-03-15 17:40] jecho commented on #618
looks like the file is missing; i had to copy a couple from the conf dir over to its respective chart dir

[2019-03-18 07:24] domcar commented on #638
@cahoonpwork No, my cluster is in a single zone, I think the point is not multi-zone but one node or many node: as the docs say, a Volume with ReadWriteOnce can be mounted by a single Node:
https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes#access_modes

[2019-03-18 08:12] domcar commented on #640
Is it possible that it is because here the permissions of scale and update are missing?
https://github.com/CrunchyData/postgres-operator/blob/3.5.1/chart/postgres-operator/files/apiserver/pgorole

[2019-03-18 08:17] domcar commented on #640
Yes, that's the problem, I added `UpdateCluster` to the file and redeployed the cluster, now I'm able to update it

[2019-03-18 09:44] domcar commented on #640
FYI: I needed to add also `CreateDump, RestoreDump, UpdateCluster, ScaleCluster`

[2019-03-18 12:24] cahoonpwork commented on #640
Looks like this is fixed in the develop branch.  We will have a 3.5.2 release out this month that will have it.

[2019-03-18 12:25] domcar commented on #640
Great, thx

[2019-03-18 12:25] #640 closed

[2019-03-18 15:02] domcar opened #641 "Replica not starting with pgpool or pgbouncer"
**Describe the bug**
If I create a cluster with flag `pgpool` or `pgbouncer` the replica cannot connect to DB

**To Reproduce**
`./pgo-mac.3.5.1 create cluster tre --pgpool=true --password=ciaociao --replica-count=1`

**Screenshots**
[code]
Logs from the replica `k logs tre-cxem-76bff775b7-ck6bc -c database`
[code]

**Please tell us about your environment:**

* Operating System: MacOS
* Where is t

[2019-03-19 07:35] domcar commented on #618
Yes, two files are missing
  - postgres-operator/files/postgres-operator/cluster/1/pgdump-job.json
  - postgres-operator/files/postgres-operator/cluster/1/pgrestore-job.json

[2019-03-20 09:45] Sayrus commented on #641
Might be linked to #637.
Tagging with pgbouncer does disable service-name tagging as it will trigger `newpod.ObjectMeta.Labels[util.LABEL_PGBOUNCER] == "true"` in `controller/podcontroller.go` and return before tagging the service-name.
I will change my issue title.

I am currently using this patch and will try my luck with a PR as soon as I have a better way to do it:
[code]
Note that it does not

[2019-03-20 10:21] domcar commented on #641
Thanks @Sayrus I will have a look into it, by the way it is possible to start the cluster without pgpool/pgbouncer and add them only later with a `pgo create pgpool test-cluster` and it appears to be working fine

[2019-03-20 10:36] Sayrus commented on #641
Thanks @domcar I tried this for pgpool too.
While this works on an existing cluster, you won't be able to scale your cluster without manually deleting the label as new deployment will have the `crunchy-pgbouncer` label.

[2019-03-20 11:19] domcar commented on #641
@Sayrus that's true, if I scale the replica it will be labeled as `bouncer`

[2019-03-21 09:38] domcar opened #645 "Auto failover is killing all replicas"
**Describe the bug**
When the primary pod is killed all replicas but one are killed, leaving the cluster with only one primary

**To Reproduce**
Create a cluster with 3 replicas and autofail
- ./pgo-mac.3.5.1 create cluster test --password=ciaociao --replica-count=3 --autofail
[code]
Kill the primary pod
- kubectl delete pod test-7446d5b7b8-gzcqx

Replicas get terminated one after the other, only

[2019-03-21 11:23] cahoonpwork commented on #645
Fix is in for this and will be in 3.5.2 ... https://github.com/CrunchyData/postgres-operator/commit/8d16a7302e257002d0e9b563c74f821191f107cd

[2019-03-21 13:29] domcar commented on #645
Thanks, I'll close this

[2019-03-21 13:29] #645 closed

[2019-03-22 08:03] domcar opened #646 "Crd get deleted when deleting chart"
**Describe the bug**
When the chart is installed also the CRD get installed, should the chart be removed (by mistake or not) also the crd are gone.
This means that even by re-installation it is not possible anymore to manage previously installed clusters.
I would recommend to use the helm annotation for crd so that those resources remain untouched by a `helm delete`.
Should the user then install t

[2019-03-22 13:04] #287 closed

[2019-03-23 19:17] #232 closed

[2019-03-26 02:30] cotigao opened #652 "Inconsistent failover with "failover_strategy_1" in v3.5"
The failover with the default strategy does not seem to always work  (with autofail enabled). It sometimes fails with the message `more than 1 primary pod found when trying to delete primary xyz` . I created the cluster with pgo and replica count = 2 and deleted the primary pod with `kubectl delete pod ....`

As a quickfix ,I modified the `deletePrimary()` function inside failover_strategy_1.go, t

[2019-03-26 07:15] david-ecc commented on #618
In release 3.5.2 this file is missing:
chart/postgres-operator/files/postgres-operator/pgbench-job.json

[2019-03-26 09:19] domcar commented on #618
@david-ecc Yes, the file is missing. This is very disappointing, it looks like the chart is not tested at all

[2019-03-26 11:35] cahoonpwork commented on #558
This should be fixed in the next Operator release's documentation.  We will add some information about custom config.  The 3.4.0 files are located at https://github.com/CrunchyData/postgres-operator/blob/3.4.0/hugo/content/ if you need/want to reference them.

[2019-03-26 11:38] cahoonpwork commented on #652
@cotigao
We just pushed out 3.5.2 yesterday with a updates for failover, If you can use try that version and see if you are stilling having issues.

[2019-03-26 17:51] jmccormick2001 commented on #560
so this will be fixed in the upcoming 4.0 release in April, stay tuned but the Operator will support various deployment styles.

[2019-03-26 17:51] #560 closed

[2019-03-26 18:22] ksugiu opened #654 "Error: could not load example.com.crt and example.com.key"
Hi,

I'm trying to use pgo client (version 3.5.2) on kubernetes but i can't contact my chrunchy cluster because my pgo client don't see my certificates:

This is how i launch the client :

`pgo version --apiserver-url=https://10.43.195.3:8443 --pgo-client-key=/certs/ilk
ik8s.fr.key --pgo-client-cert=/certs/ilkik8s.fr.crt --pgo-ca-cert=/certs/ca.crt --debug`

And this is the return:

`DEBU[0000] de

[2019-03-27 16:50] lkhomenk commented on #654
`.pgouser` file is more about pgo utility permissions. it has pretty granulated access right - check docs about BaseAuth in pgo or disable it
https://crunchydata.github.io/postgres-operator/stable/installation/
Just create `~/.pgouser` file

[2019-03-27 16:53] lkhomenk commented on #652
@cotigao what about `AutofailReplaceReplica` ? we have enabled it. and when we force delete Primary - first k8s recovers new pod inside same deployment(A) and after that postgres-cluster - removes that deployment(A) and creates a new one

[2019-03-27 16:55] lkhomenk commented on #604
verified on 3.5.2 + Fedora29/Openshift 3.11- thanks a lot - it works!

[2019-03-27 16:55] #604 closed

[2019-03-27 16:56] lkhomenk commented on #571
verified on 3.5.2 - now we can use both port and database name in pgbouncer configs! :+1:

[2019-03-27 16:56] #571 closed

[2019-03-27 18:56] fanzhang15 opened #659 "LivenessProbe and ReadinessProbe Needed"
**What is the motivation or use case for the change? **
Test the liveness and readiness of the apiserver, scheduler and operator contaners.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Need to test the liveness and readiness of each container spperately.
Is there such a plan or quick solution?

**Please tell us about your environment:**

* Opera

[2019-03-28 14:02] lkhomenk opened #663 "Hide PGBACKREST variables from log"
**What is the motivation or use case for the change? **
PGBACKREST variables could contain S3 secrets. It would be nice to hide those from each container logs. at least that output could be hidden behind CRUNCHY_DEBUG
**Describe the solution you'd like**
show pgbackrest variables only in debug mode

[2019-03-28 14:05] lkhomenk commented on #597
fixed in 3.5.2 + 2.3.1

[2019-03-28 14:05] #597 closed

[2019-03-28 21:19] lkhomenk opened #666 "3.5.2 - PGBACKREST StanzaCreate"
** Which example are you working with? **
Running postgres-operator + pgbackrest setup
**What is the current behavior?**
on 3.5.0 setting up `"BACKREST_SKIP_CREATE_STANZA": true` was adding pgtask for stanza creation after main postgres pod was ready. But in 3.5.2 that doesn't happen
Stanza related logs from operator:
[code]
 **What is the expected behavior?**
Stanza creation job should be trigger

[2019-03-28 21:20] lkhomenk commented on #666
@jmccormick2001 Hi. haven't I missed something? maybe with some recent updates this logic was changed?

[2019-03-29 13:26] PowerStateFailure opened #667 "pgo.exe v3.5.2 reports error on each command"
**Describe the bug**
Windows build of `pgo` utility (v3.5.2, taken from `/releases` page) reports error on each command:
[code]
_It doesn't affect any behavior of utility_, just kinda annoying

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please tell us about your environment:**

* Operating System: Windows 7
* Where is this running ( Local

[2019-03-29 15:51] jmccormick2001 commented on #667
thanks for spotting this one, it will be addressed.

[2019-03-30 05:03] PowerStateFailure opened #670 "3.5.2 - helm chart config is missing pgbench-job.json and is inconsistent with release tarball"
**Describe the bug**
Helm chrat config dir is inconsistent with release tarball:

1. Missed `pgbench-job.json`, which causes operator to fail during startup:
[code]
2. Config files differ from ones in release tarball (`postgres-operator.3.5.2.tar.gz`), see diff: https://gist.github.com/PowerStateFailure/1079fa92ce365206ebd05d175e55013b
    (here `a` stands for helm chart configs, `b` - for release

[2019-03-30 12:39] #545 closed

[2019-03-31 15:44] #482 closed

[2019-04-01 21:03] jmccormick2001 commented on #659
thanks, I've added a liveness probe and readiness probes to the operator pod, which will go into the 4.0 release when it comes out.

[2019-04-02 14:26] jmccormick2001 commented on #615
should be fixed with 4.0 release.

[2019-04-02 14:26] #615 closed

[2019-04-02 15:22] #666 closed

[2019-04-02 16:42] #199 closed

[2019-04-03 14:27] lkhomenk commented on #663
#665 adds support for S3 - but with current behavior   S3 keys will be printed in logs

[2019-04-03 14:30] lkhomenk opened #677 "Error in patching stanza-creation pgtask"
**What is the motivation or use case for the change? **
Stanza status update error
[code]
**Describe the solution you'd like**
It's not a blocker but some backend logic might depend on that value

[2019-04-03 19:57] cahoonpwork commented on #677
Thanks.. we are going to take a look.

[2019-04-06 15:37] #537 closed

[2019-04-07 01:37] #568 closed

[2019-04-10 14:00] fanzhang15 commented on #659
@jmccormick2001 Thanks. When shall we expect the formal release of 4.0 with these changes?

[2019-04-10 14:01] jmccormick2001 commented on #659
plan is to release 4.0 in the mid-late April timeframe, so soon.  The code for that lives in the develop branch currently if you want to check it out.  regards.

[2019-04-12 08:26] ook opened #699 "pgo_mac broken for 3.5.2"
**Describe the bug**

pgo_mac doesn't work, for any command.

**To Reproduce**

1) Follow instructions to install postgres-operator 3.5.2
2) download and pgo_mac 3.5.2, make it executable

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

[code]

**Please tell us about your environment:**

* Operating System: k8s cluster on baremetal (5nodes, p

[2019-04-12 11:26] cahoonpwork commented on #699
Can you provide the steps you did to install the pgo client?  Was it just downloading and making it executable or did you also setup the certs and .pgouser file?

[2019-04-12 11:35] ook commented on #699
Hi @cahoonpwork . I strictly follow the instructions:

Got `pgo` from 3.5.2 release:
[code]

Certs were generated previous step:

[code]

Even forced on the pgo command line, it fails:

[code]

And the `~/.pgouser` file is already preset.

[2019-04-12 13:09] cahoonpwork commented on #699
Looks like you have the 4.0.0-rc5 pgo client.  There 4.0 client isn't compatible with 3.5.x. You can grab the 3.5.2 client here: https://github.com/CrunchyData/postgres-operator/releases/download/3.5.2/pgo-mac .

Let me know if that works for you.

[2019-04-12 13:18] ook commented on #699
Sorry, it was a bad copy when filling my previous comment. It was already the 3.5.2:

[code]
Then
[code]
So, no change.

[2019-04-12 13:28] cahoonpwork commented on #699
No problem.  Give us a bit and we will test it out again.  Currently testing 4.0.0-rc5 and not seeing that issue.

[2019-04-12 15:49] jmccormick2001 commented on #699
verify that the .pgouser file is in $HOME and that the credentials in it are valid and match those in the server's pgouser config file.  In 3.5.2, if you have a wrong id/psw it will throw an error like that back to the user.

[2019-04-13 12:24] ook commented on #699
@jmccormick2001 that was it! There was a typo in the password.

I noticed there's minor errors in the documentation during installation, would you like a PR about it?

[2019-04-13 12:24] #699 closed

[2019-04-13 15:06] jmccormick2001 commented on #699
sure, a PR against the develop branch and we'll take a look at it, thanks for contributing!

[2019-04-13 19:19] davi5e opened #703 "[Support] How to enable SSL"
## Which example are you working with?
Trying to create a PostgreSQL cluster using PGO. Said cluster should have SSL enabled and we can't find a documentation on how to do this.

## What is the current behavior?
No idea how to proceed. Found [this](https://github.com/CrunchyData/postgres-operator/issues/395) and [this](https://github.com/CrunchyData/crunchy-containers/tree/master/examples/kube/cus

[2019-04-13 19:58] jmccormick2001 commented on #703
https://github.com/CrunchyData/postgres-operator/tree/develop/examples/custom-config-ssl

we are working up an example, see above, not fully tested but would be great if you could try this out and let us know how it works for you.  regards.

[2019-04-14 14:06] #580 closed

[2019-04-15 11:34] #637 closed

[2019-04-16 22:22] davi5e commented on #703
@jmccormick2001 I'm quite busy this week, I'll be sure to give it a try and come back to you as soon as I can

[2019-04-21 16:22] Deepak-Routray commented on #670
@PowerStateFailure Any luck with this?
I have been facing the same issue with version co_image-tag "centos7-3.5.2" for some time now.
I worked around this by reverting the image tag to "centos7-3.5.1" in pgo.yaml and values.yaml.
FYI I am using Helm Chart for deploying. I tried bumping up the version to latest one and tweaking around some configs. But unfortunately that did not work.
Hope this hel

[2019-04-22 12:51] jmccormick2001 commented on #588
FYI - S3 support will be in release 4.0 which will arrive by end of this month.

[2019-04-23 20:23] #703 closed

[2019-04-24 16:56] devlounge commented on #670
This operator and its repo are really messy IMO and do not follow how other operators are written.
Also, so many files have a mix of tabs and spaces, dirty.
I keep trying to make it work, but honestly I feel like giving up...

[2019-04-24 17:41] jmccormick2001 commented on #670
the helm chart is going away starting in 4.0 release which is planned for
next week, instead we are investing in an ansible approach to an installation
method apart from the developer/default install.  If someone wanted to write a new
helm chart for 4.0 we would welcome it, it would require a complete rewrite most
likely to deal with all the 4.0 changes that have been made.

[2019-04-26 03:44] rqtx opened #740 "[Support] Behavior of upgrade and restore"
** Which example are you working with? **

Trying to upgrade and restore PostgreSql cluster without creating a new pvc to new replicas.

**What is the current behavior?**

I am trying to understand how upgrade and restore commands works. I notice that both commands create a new pvc to new replicas. Is it possible to avoid this behavior, like using the pvc from the old cluster on the new one?

Anot

[2019-04-28 21:33] #595 closed

[2019-04-30 16:28] #600 closed

[2019-04-30 22:29] #596 closed

[2019-05-02 14:53] pmpetit opened #753 "modifying max_connection in postgresql.conf"
** Which example are you working with? **

my example is from "./examples/quickstart.sh" and i'd like to change max_connections

**What is the current behavior?**

 max_connections
-----------------
 100

**What is the expected behavior?**

 max_connections
-----------------
 150

i have search, but i do not find a way to chnage it except : in
https://crunchydata.github.io/postgres-operator/stable

[2019-05-02 15:20] jmccormick2001 commented on #753
Hi, you can add a custom environment variable setting in postgres-operator/conf/postgres-operator/cluster/1/cluster-deployment-1.json

the env var you set is MAX_CONNECTIONS

if you do that, and redeploy the operator that will cause the max_connections to be set in the postgres container.

regards.

[2019-05-02 16:24] cahoonpwork commented on #753
Here is some documentation for using custom config: https://crunchydata.github.io/postgres-operator/latest/gettingstarted/design/custom-config/   if you want to go that way.

[2019-05-03 07:11] pmpetit commented on #753
Thanks, it was what a was looking for...

[2019-05-03 22:38] #603 closed

[2019-05-06 16:42] #606 closed

[2019-05-07 13:30] #610 closed

[2019-05-10 06:51] mariuszb81 opened #757 "Ansible installer wrong url - no pgo client executable"
I am installing latest version of pgo (4.0.0-rc10)
In ansible vars file (./ansible/roles/pgo-operator/vars/main.yml) the url pointing to download is invalid (currently https://github.com/CrunchyData/postgres-operator/releases/download/{{ pgo_version }})  where it should be https://github.com/CrunchyData/postgres-operator/tree/{{ pgo_version }}.

Moreover,
The main problem is with pgo executable fi

[2019-05-10 07:15] mariuszb81 commented on #757
Update:
The pgo executable file downloaded by the ansible installer is just html file saved as /usr/local/bin/pgo/pgo'.

[2019-05-10 13:09] ajoyej opened #758 "Possible to have pgo to manage any namespace?"
Hello,
I have installed pgo 4.0.0-rc10.
All run ok.

However, I have a question related to the namespaces pgo manages.
To what I understand, we have to define in the inventory file which namespaces pgo will manage and then run the ansible-playbook command.

Is there a way to have pgo potentially managing any namespaces without running a ansible-playbook update?

A side question related to this one

[2019-05-10 15:15] #536 closed

[2019-05-11 14:40] #617 closed

[2019-05-11 19:31] ajoyej opened #759 "Unable to create cluster within a namespace added with ansible "Update""
An error occurs if we try to create a cluster within a namespace that is added after the initial installation (by updating the inventory file and then calling
`ansible-playbook -i /path/to/inventory --tags=update --ask-become-pass main.yml`
)

I'm using the pgo version 4.0. rc10

I did an initial installation with a single namespace to be managed and I was successfull to create clusters within thi

[2019-05-12 16:22] #619 closed

[2019-05-12 20:32] jasonodonnell commented on #759
Hi @ajoyej,

Good catch on this bug, I will update the playbooks to setup new namespaces with all the necessary resources next week.

[2019-05-12 20:35] jasonodonnell commented on #758
Hi @ajoyej,

Currently the playbooks do not support manage all namespaces at this time.

You can add operator to an existing namespace.

Hope that helps!

[2019-05-13 05:10] ajoyej commented on #759
Thanks a lot!
JOsé

[2019-05-13 05:14] ajoyej opened #760 "Any way to create a dB within an existing cluster using pgo cmd?"
Hello,

Is there a way to create within an existing cluster a new dB?

Pgo has a way to add postgresql user within an exiting cluster.
Any way to add new dB?

If not, is there any plan to add this feature?

Thanks,
José

[2019-05-14 13:34] mariuszb81 commented on #758
Hi @ajoyej
where did you find pgo executable after installation? I can't locate it. therefore my pgo command doesn't work.
Thanks.

[2019-05-14 14:32] ajoyej commented on #758
Hi @mariuszb81,

I found it under Release - 4.0.0-rc10  - Assets:

https://github.com/CrunchyData/postgres-operator/releases/download/4.0.0-rc10/pgo.exe

José

[2019-05-14 14:34] mariuszb81 commented on #758
@ajoyej
Thank you!!!!
My verson (linux) was here:
https://github.com/CrunchyData/postgres-operator/releases/download/4.0.0-rc10/pgo

Thanks alot

[2019-05-14 14:35] #757 closed

[2019-05-15 17:09] jasonodonnell commented on #759
This will no longer be an issue due to changes found here: https://github.com/CrunchyData/postgres-operator/pull/763

[2019-05-19 14:25] #635 closed

[2019-05-20 05:20] kcwillis opened #766 "make installrbac target omits scheduler-sa"
**Describe the bug**
The scheduler-sa is not properly handled by the make installrbac target.

When the installrbac target is ran, it first attempts to clean the rbac values created by previous runs. If an rbac value is successfully deleted the output is something like:

Unsuccessful deletion output looks like this:

The first time installrbac is run, all deletions should be unsuccessful, since no

[2019-05-20 16:46] ajoyej opened #767 "When will pgo 4.x be available (not the RC version)?"
Hello,

Do you have any date for public availability of pgo 4.x (not the RC)?

Thanks and regards,
José

[2019-05-20 17:27] cahoonpwork commented on #767
We are targeting the first week of June.

[2019-05-21 09:07] jprukner opened #768 "Postgres fails to start bacause it's being ran as root"
**Describe the bug**
Cluster fails to start because postgres container is being ran as root.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy operator
2. Create cluster
3. Delete pod of the cluster e.g. "mycluster-5864798b69-crqbk" and let start new one.
4. New pod fails to start.

**Expected behavior**
Run the container as non-root.

**Please tell us about your environment:**

[2019-05-21 09:21] jprukner commented on #768
Workaround is to modify the deployment of the cluster and set `runAsUser:26` in it's security context.

[2019-05-21 15:03] lkhomenk opened #769 "Operator doesn't recreate pgbouncer secrets"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Create pgcluster with --pgbouncer and do not specify password
2. Secret pgcluster-pgbouncer-secret gets created, which contains md5 checksum of the pgbouncer user
3. Delete pcluster, but without using -d
4. Secret remains (it's by design - till this moment everything is fine)
5. Create new cluster with the same name and --p

[2019-05-21 15:07] lkhomenk commented on #768
weird. it already runs under user 26. https://github.com/CrunchyData/crunchy-containers/blob/master/centos7/11/Dockerfile.postgres.centos7#L77
@jprukner Do you use any custom image?

[2019-05-21 15:09] jprukner commented on #768
@lkhomenk No, I don't.

[2019-05-23 05:04] fanzhang15 commented on #659
@jmccormick2001 I see the RC11 is preparing for the formal release for 4.0. Could you give us a better estimate since this impacts our product delivery date? Thanks.

[2019-05-23 12:31] jmccormick2001 commented on #659
2 weeks in the window we are aiming for, final development and testing is underway.

[2019-05-23 13:59] tumluliu opened #772 "Error: pgtasks.crunchydata.com "pgpool-reconfigure-democluster" already exists if deleting then creating a user"
** Which example are you working with? **
when I try deleting and then creating a user with `pgo`:
[code]

**What is the current behavior?**
I got an error:
[code]
But the user `demo2` was really created. Actually, if I delete and then wait for around 10s, the create command won't complain.

**What is the expected behavior?**
user `demo2` should be created with no error. Otherwise, this will confu

[2019-05-23 14:41] tumluliu opened #773 "Is there an elegant way to resize the PV of master?"
**What is the current behavior?**
I tried to resize the underlying PV of master according to the [Resizing Persistent Volumes using Kubernetes](https://kubernetes.io/blog/2018/07/12/resizing-persistent-volumes-using-kubernetes/). And the master pod needs to be deleted to make the disk-detaching and resizing happen.
This process is complicated.

**What is the expected behavior?**
It would be great

[2019-05-23 17:17] cahoonpwork commented on #772
Let us take a look, we had a similar situation with delete cluster before.

[2019-05-24 08:22] #638 closed

[2019-05-24 08:29] tumluliu opened #775 "pgo create user sometimes complains Error: the password format was invalid"
**Describe the bug**
First of all, this doesn't happen every time, perhaps around 10% probability. But I think that's even worse and not easy to reproduce.

Here is the situation: when creating a new user with the command
[code]
It complains with
[code]

My gut feeling is this message is from the underlying postgresql. And the reason could be the randomly generated password doesn't comply with som

[2019-05-24 19:20] jprukner opened #776 "pg_wal bloats"
**What is the current behavior?**
The folder pg_wal keeps bloating until database crushes.
**What is the expected behavior?**
I'd expect database to maintain it's size.

*  OS: Ubuntu 18.04, Kernel: 4.18.0-20-generic
*  Where is this running: Packet.com
* Storage being used: rook
* Container Image Tag: centos7-3.5.3
* PostgreSQL Version: centos7-11.3-2.3.2
* Platform: Kubernetes
* Platform Version

[2019-05-26 12:04] #641 closed

[2019-05-28 07:34] tumluliu opened #777 "pgo show user gives deleted users"
**Describe the bug**
After deleting a user with `pgo delete user demo01 --selector=name=democluster -n pgo`, this `demo01` user together with its password (in clear text!?) is still in the results of `pgo show user democluster -n pgo`. And from the `kubectl -n pgo get secret`, the deleted user's secret is really there. Is this behaviour by design?

**To Reproduce**
Steps to reproduce the behavior:

[2019-05-28 08:50] mariuszb81 opened #778 "Run script on cluster creation"
** Which example are you working with? **

pgo client version 4.0.0-rc10
pgo-apiserver version 4.0.0-rc10
Openshit 3.11

**What is the current behavior?**

When creating cluster I need to  automatically run additional scripts on database (creating dbs, users and tables)

**What is the expected behavior?**

pgo create cluster <name> -n <namespace> --password <pass> --run <startup.script>

[2019-05-28 09:26] #646 closed

[2019-05-28 13:10] cahoonpwork commented on #778
You will want to use a policy.

https://crunchydata.github.io/postgres-operator/latest/operatorcli/pgo-overview/
https://crunchydata.github.io/postgres-operator/latest/operatorcli/cli/pgo_create_cluster/

[2019-05-28 16:21] ajoyej opened #779 "Question about managed namespaces and number of pgo to deploy within an environment"
Hello,

we are trying to find the best way to integrate pgo in our environment/requirements and come out with the following questions. Maybe someone could give us some answers to the one we have at the moment :-)

(1) We will have many postgres clusters deployed over time (say up to 60). Most likely, cluster will be deployed in different kubernetes namespaces (in the worst case, each cluster may b

[2019-05-28 16:22] #760 closed

[2019-05-28 16:23] ajoyej commented on #760
Duplicate of #779

[2019-05-28 16:40] jmccormick2001 commented on #779
H,  you can use a single pgo namespace (operator) to manage a set of other namespaces, you can even add more namespaces to what the Operator watches if you want...you can add a new namespace to an existing pgo configuraiton as follows:  1) create the Kube namespace 2) add the rbac rules to that namespace so that it has the permissions required and 3) reconfigure the pgo operator to use that new na

[2019-05-28 16:57] ValClarkson commented on #777
I ran through your scenario using ccp image centos7-9.6.13-2.4.0-rc8 and operator image centos7-4.0.0-rc11, I did not encounter any errors.  Please update to this rc and try again.  Let me know if the issue persists with the latest rc.

[2019-05-28 18:47] ajoyej commented on #779
@jmccormick2001,
Thanks for the answer. Related to your point 3) reconfigure the pgo operator to use that new namespace,
What is the way to follow to achieve this goal?

Related to the second question, I will have a look to the policy feature

Regards,
José

[2019-05-28 20:12] jmccormick2001 commented on #779
doing a manual or developer install, you would:

kubectl create ns pgouser3

then:
export NAMESPACE=pgouser1,pgouser2,pgouser3

then run:

make installrbac

then:

make deployoperator

that sequence should work, they key here is to install the rbac into the new namespace essentially.

cheers.

[2019-05-28 20:35] cahoonpwork commented on #768
looks like this is the cause: https://github.com/kubernetes/kubernetes/pull/78316

[2019-05-30 13:51] jmccormick2001 commented on #772
I've created a fix for this one, it will be present in the 4.0.0-rc13 build we are doing this week.  thanks for reporting this one.

[2019-05-30 14:18] musabmasood opened #785 "Allow the playbook to run without kubernetes_context set"
**What is the motivation or use case for the change?**

If kubernetes_context is empty we get an error, which should not be the case.

In a case where the ansible playbook is run by a **pod** inside a kubernetes cluster, which also has **kubectl** installed, you don't need a **kubeconfig** file or context. The kubectl pod is able to work without contexts (given it has RBAC).

**Describe the soluti

[2019-05-30 20:16] cooktheryan opened #787 "the load balancer tag should allow for internal load balancers to be created"
**What is the motivation or use case for the change? **

**Describe the solution you'd like**
A clear and concise description of what you want to happen. When specifying /bin/pgo create cluster DB --service-type=LoadBalancer service-type could be internal-Loadbalancer

**Please tell us about your environment:**

* Operating System: RHEL
* Where is this running ( Local, Cloud Provider) AWS
* Storag

[2019-05-31 12:35] tumluliu commented on #772
great to know, thanks a lot @jmccormick2001 !

[2019-05-31 12:36] tumluliu commented on #777
thanks for your reply @ValClarkson . I will try with rc13 with another fix (#772)

[2019-05-31 13:45] cahoonpwork commented on #787
I believe you could updated the cluster service template to include the annotation if you wanted to test it out.  You would need to redploy the operator once you make that change.

We are close to releasing 4.0.0 but should be able to add this to the 4.1.0 release.  It looks like you are running on AWS, there appears to be some more options for Load Balancer Annotations on AWS based on https://kub

[2019-05-31 14:15] cooktheryan commented on #787
@cahoonpwork sound fantastic that new releases are coming.

Ya you are correct with the annotation for AWS you posted. I most likely could modify the SVC after the fact and generate a new LB. I know that a lot of providers offer an internal load balancer solution when looking at those other tabs. In the past we have used internal load balancers in OpenStack. I definitely feel like databases we wou

[2019-06-01 10:24] #618 closed

[2019-06-01 13:24] #558 closed

[2019-06-02 17:21] #652 closed

[2019-06-03 08:50] #654 closed

[2019-06-04 10:58] hairmare opened #794 "4.0.0-rc13 "replica" database container fails to start due to permissions on ssh key"
**Describe the bug**
After running `pgo scale` on a cluster the "replica" component fails to start due to wrong rights on the `/sshd/ssh_host_rsa_key`.

**To Reproduce**
[code]
[code]

The ssh key in question is mounted from a kubernetes secret and it has way more rights than ssh will allow.

[code]
Due to the database container in the "replica" pod failing to start `pgo test` fails:
[code]
[code]

[2019-06-04 13:29] tongpu opened #795 "4.0.0-rc13 deployment of second cluster fails, because root user is being used"
**Describe the bug**
When deploying a second cluster via `pgo create cluster` the pods are stuck in `CrashLoopBackOff` because `initdb` is being run as root.

**To Reproduce**
1. `pgo create cluster cluster0 -n pgo`
2. Wait for the cluster to finish startup
3. `pgo create cluster cluster1 -n pgo`
4. Pods for cluster 1 can't be started, because `initdb` refused to be run as root.

[code]

**Expecte

[2019-06-04 13:31] jmccormick2001 commented on #795
Hi, we have seen this issue with kube 1.14.2 where a bug was present in kube that causes this error, try with a different version of kube if possible.

[2019-06-04 13:52] tongpu commented on #795
I'm not able to reproduce the issue on 1.14.1!

@jmccormick2001 Do you have any idea what might cause this?

[2019-06-04 13:54] jmccormick2001 commented on #795
https://github.com/kubernetes/kubernetes/pull/78178

[2019-06-04 13:55] tongpu commented on #795
I also found the corresponding issue: kubernetes/kubernetes/issues/78308

I'm going to close the issue here.

[2019-06-04 13:55] #795 closed

[2019-06-04 14:00] tongpu commented on #794
It seems like that this issue is also affected by kubernetes/kubernetes/issues/78308. I was not able to reproduce it when running 1.14.1.

@hairmare Can you confirm?

[2019-06-04 14:05] hairmare commented on #794
@tongpu Can confirm, is clearly an issue with 1.14.2 and how it handles (or fails to handle) `runAsUser`. Thanks for you patience ;)

[2019-06-04 14:05] #794 closed

[2019-06-04 15:00] #768 closed

[2019-06-04 15:03] jprukner commented on #776
whatever moving to cockroachdb

[2019-06-04 15:03] #776 closed

[2019-06-04 16:41] #667 closed

[2019-06-04 16:56] cahoonpwork commented on #775
fix will be in 4.0.0-rc14.

[2019-06-05 07:33] tumluliu commented on #775
Really looking forward to the 4.0.0 release! Many thanks!

[2019-06-05 18:41] scrummyin commented on #363
I think this bug should be re-opened. It seems that pgbadger on replicas is targeting the primary's pgdata directory and this bug is still present.
I have a proposed patch for the 3.x line. I also believe this same issue is affecting collect, but I have not patched that. Please see #803 .

[2019-06-06 09:54] tumluliu commented on #637
The same problem still happens from my side with 4.0.0-rc14. When I created a cluster with `pgo create cluster democluster --pgpool --replica-count 1`, the created service `democluster` could not get any endpoint because of its selector
[code]
could not match the corresponding deployment with labels
[code]
because there is no such a label `service-name: democluster` .
Would be great if this issue

[2019-06-06 13:28] jmccormick2001 commented on #637
can you provide the labels from the database pods?  we are not seeing this issue.  The service-name label on the pods is what the service selector will be matching against.

[2019-06-06 13:42] tumluliu commented on #637
Thank you @jmccormick2001 .
This is the pod labels:
[code]
I don't see the `service-name` on it. And the service could not get an endpoint as a result.
btw, I created this new cluster with 4.0.0-rc15.

[2019-06-06 16:20] jmccormick2001 commented on #637
we duplicated this bug, have a fix going in for it.

[2019-06-07 01:10] multi-io opened #807 "Error: Invalid Status Code: 405"
**Describe the bug**
Creating a cluster fails with "Error: Invalid Status Code: 405".

**To Reproduce**
Steps to reproduce the behavior:
1. cloned postgres-operator 3.5.3 (ee09d3a2b6730f724b907fe328a6cc96de223eff)
2. followed https://crunchydata.github.io/postgres-operator/stable/installation/. `conf/postgres-operator/pgouser` left unchanged. `~/.pgouser` contains `testuser:testpass`. Operator exp

[2019-06-07 02:01] jmccormick2001 commented on #807
Hi, could you rerun that 'pgo' command with "--debug" on it?  that might show something more.

[2019-06-07 08:29] multi-io commented on #807
[code]

[2019-06-07 11:46] tux-o-matic commented on #767
@ajoyej  It's live now.

[2019-06-07 11:53] cahoonpwork commented on #767
@ajoyej  @tux-o-matic
4.0.0 has been tagged, the Images and PGO client will be pushed out this morning.

[2019-06-07 13:44] jmccormick2001 commented on #807
DEBU[0000] createCluster called...[https://x.x.x.x:8443//clusters]

that doesn't look right, the '//' is not correct, is that a type-o or does it really show up like that?

[2019-06-07 17:42] aleks-mariusz opened #810 "psp support"
**What is the motivation or use case for the change? **

Ability to run in clusters with podsecuritypolicies in place.

**Describe the solution you'd like**

Most podsecuritypolicies prohibit containers from being started throwing CreateContainerConfigError errors if the definition of a pod does not jive with the psp defined for the cluster

**Please tell us about your environment:**

* Operating

[2019-06-09 16:07] #663 closed

[2019-06-09 21:07] #677 closed

[2019-06-10 11:49] cahoonpwork commented on #810
@aleks-mariusz The issue is with Kubernetes 1.14.2 and 1.13.6 both have a bug.  Please try again in 1.14.1.

[2019-06-10 12:22] aleks-mariusz commented on #810
Can you give any specifics about what the issue is with those versions please? Also 1.14.3 was released last week as well, perhaps that one might work as well ?

[2019-06-10 12:23] jmccormick2001 commented on #810
1.14.3 works

[2019-06-11 07:35] fanzhang15 commented on #703
@jmccormick2001 We need SSL but not between the client and the server, but between the master and slave nodes when doing streaming replication. pgpool.conf should be able to support this feature. How to add this feature into the CRD deployment?

For example, I run `$PGO_CMD -n $NS create -f $DIR/fromcrd.json`
How to configure the fromcrd.json or other files when doing this command to achieve what

[2019-06-11 07:42] fanzhang15 opened #819 "Best practice of using PGO 4.0.0 in OLM"
** Which example are you working with? **
One service, e.g., speech recognition (SR), that needs to access it's PostgreSQL database. During the deployment phase, SR can be deployed as a Helm chart, and PostgreSQL can be defined as its own sub chart. The world is perfect.

When we use PGO to deploy PG, should SR define PGO as its sub chart? Given the chart directory has been deleted from the repo i

[2019-06-11 07:50] #767 closed

[2019-06-11 13:04] tongpu commented on #518
@jmccormick2001 Does this logic also cover PodAntiAffinity or is this limited to node labels? I would think that it's easier to let the Kubernetes scheduler handle the distribution of pods by trying to distribute pods from a certain cluster over all of the nodes.

[2019-06-11 14:58] tongpu opened #821 "postgres-operator 4.0.0: `pgo failover` is killing the whole cluster if autofail is enabled"
**Describe the bug**
If autofailover is enabled and a manual failover is triggered the whole cluster is being deleted when `pgo failover` is being run.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster with two replicas and autofailover
`pgo create cluster cluster1 --replica-count=2 --autofail -n pgotest`
2. Check the cluster state
`pgo show cluster cluster1`
3. Trigger manual

[2019-06-11 15:24] jmccormick2001 commented on #518
specifying these affinity rules is useful where people want the primary to not be running on the same node as the replicas, if you don't want that behavior then not specifying a node label will let kube just schedule as normal.

[2019-06-11 15:37] jmccormick2001 commented on #821
yep, today (4.0) you have to turn off autofail (pgo update cluster)  before doing a manual failover to avoid any issues.  We might add that for users in 4.1 to prompt the user or similar before doing a manual failover or  just turn off autofail and re-enable it, but that logic is not in 4.0.   There is a feature request for us to implement one of these features.

[2019-06-11 17:25] tongpu commented on #821
Thanks for the feedback, I'll document this current limitation for our use case. Is it okay if we keep this issue open until it's fixed in one of the next releases?

[2019-06-12 00:18] jmccormick2001 commented on #821
yep, no problem, we hope to get this done in 4.1 timeframe.

[2019-06-12 17:38] hightekvagabond opened #823 "Cluster.CCPImagePrefix is required"
My googling on this error lead me to a problem that was supposed to have been fixed a year ago in a different version. I'm only running this version because your install docs say I should, but I'm really at a loss for what this error even means at the end of my log. Any help or pointers towards how to find a solution would be helpful.

I'm using a slightly modified version of the quickstart script

[2019-06-12 22:06] cahoonpwork commented on #823
@hightekvagabond we just released Operator 4.0.0 if you want to run latest version and it has a bash and Ansible install.  The docs are here: https://access.crunchydata.com/documentation/postgres-operator/4.0.0/.  If you need to run the 3.5.3 let me know.

[2019-06-13 20:28] hightekvagabond commented on #823
the docs I found on your site specifically instructed to use 3.5.3, so, thats why I went with it, I'll shift.

[2019-06-13 20:38] hightekvagabond commented on #823
yeah, taking out the forced versioning to 3.5.3 solved my problem, thanks

[2019-06-17 14:00] atinsood opened #826 "issues with ssl when trying the example custom-config-ssl"
**Describe the bug**
trying to create a cluster with the replica following the example https://github.com/CrunchyData/postgres-operator/tree/master/examples/custom-config-ssl using the command:

`pgo create cluster customsslcluster --custom-config pgo-custom-ssl-config --replica-count=1 -n ${PGO_NAMESPACE}`

the primary and the backrest pod seem to come up fine, but the replica pod seems to be fai

[2019-06-18 07:37] hairmare opened #828 "Allow using remote systems in ansible inventory"
**What is the motivation or use case for the change?**

After trying to install the operator on a system using a remote host in the ansible inventory we realized, that the current ansible playbook does not support this.

Right now thing like the following line fail to work since ansible tries to find the files on the remote system and fails to do so.
https://github.com/CrunchyData/postgres-operato

[2019-06-18 08:06] hairmare commented on #828
As far as I can tell the file would need to be copied to the target machine using a copy task before accessing them in a command or shell task. Let me know if you would accept a pull request to that effect.

[2019-06-21 13:48] cahoonpwork commented on #588
@lkhomenk If you haven't seen it yet the 4.0.0 is out with S3 support for backrest.  Here is the link to the documentation for that piece: https://access.crunchydata.com/documentation/postgres-operator/4.0.0/gettingstarted/design/designoverview/#pgbackrest-integration

Let us know if run into anything.

[2019-06-25 10:00] hairmare commented on #758
It looks like pgo nowadays supports managing any namespaces when using an empty `namespace=''` variable in the Ansible inventory. The check that skips validating namespaces if none are given is here:
https://github.com/CrunchyData/postgres-operator/blob/13f7e02e56ff89deb50fd998d69a7149341c2175/util/util.go#L372-L378
I'm not sure if this is considered a supported feature and currently the operator

[2019-06-25 12:37] kannanvj opened #842 "Error in webapp-stanza-create Pod when creating the Cluster"
Hi,
  I am trying to deploy postgresql operator on my kubernetes cluster
I have deployed through the Ansible play book.

**What is the current behavior?**

I am able to deploy the postgresql operator successfully. I am creating the postgresql cluster by using following command

pgo create cluster webapp   –labels=project=www   –pgbackrest    –autofail -n pgouser2

I have observed that 3 pods were

[2019-06-25 12:48] hairmare commented on #758
Seemlingly the scheduler component is the only one that doesn't support the "empty namespace equals all namespaces" concept:

https://github.com/CrunchyData/postgres-operator/blob/13f7e02e56ff89deb50fd998d69a7149341c2175/pgo-scheduler/pgo-scheduler.go#L68-L71

Are there any plans for supporting running databases on all the namespaces available to the operator through the K8s API?

[2019-06-25 12:53] jmccormick2001 commented on #842
hello, can you provide me the container logs from the primary database container?

[2019-06-25 12:56] jmccormick2001 commented on #758
there are plans/ideas we are thinking of that would allow you to dynamically add namespaces to the Operator's list of watched namespaces, and also apply the RBAC into those namespaces...that would be a great improvement we think over file based configuration like it works today.

[2019-06-25 12:58] kannanvj commented on #842
Logs for Webapp Pod
[code]
Logs for webapp-backrest-shared-repo
[code]

[2019-06-25 16:27] jmccormick2001 commented on #826
we'll take a look.

[2019-06-25 16:30] fanzhang15 opened #843 "Security issue of Postgres Operator user having access to security of many namespaces"
**What is the motivation or use case for the change? **
Postgres Operator has RBAC at ClusterRole level. It allows get, list and create secrets. This poses a security issue when `pgouser1` who has access to the Operator, also has full access to the security of `pgouser2`. This is similar to Tiller user having access to the security of different namespaces.

kind: ClusterRole
apiVersion: rbac.autho

[2019-06-26 05:06] kannanvj commented on #842
HI All,
 How to resolve this issue ?

Thanks,
Kannan V

[2019-06-26 12:43] jmccormick2001 commented on #842
could you try 'pgo create cluster foo -n pgouser2' and see if you get the same error?  thanks.

[2019-06-26 13:05] kannanvj commented on #842
@jmccormick2001 , I am getting the similar error....
How to rectify this error ?

[2019-06-26 13:10] jmccormick2001 commented on #842
lets see what the PVC's look like:

kubectl get pvc -n pgouser2

[2019-06-26 13:12] kannanvj commented on #842
@jmccormick2001 , PVC is in Bounded state

[root@uklab9 postgres-operator]# kubectl get pvc -n pgouser2

NAME                       STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
foo                        Bound    pvc-40101cd5-9813-11e9-8cea-14feb501f21c   1Gi        RWO            gluster        5m19s
foo-backrest-shared-repo   Bound    pvc-41e7b

[2019-06-26 13:17] kannanvj commented on #842
Please find the attached postgres-operator pod logs.
I have enabled crunchy_debug flag. Then I have captured this log.

[postgres-operator.txt](https://github.com/CrunchyData/postgres-operator/files/3330142/postgres-operator.txt)

[2019-06-26 19:14] kannanvj commented on #842
@jmccormick2001 , After changing the FsGroup, still I am getting the similar issue...
Please find the attached output for "pgo show config"
[config.txt](https://github.com/CrunchyData/postgres-operator/files/3331581/config.txt)

i have verified my storageclass.. It seems it is fine...
Following is the output for "pgo test foo"

-------------

[root@uklab9 ~]# pgo test foo -n pgouser2

cluster : fo

[2019-06-26 19:42] jmccormick2001 commented on #842
ok, lets try this next:

kubectl exec -it yourrepopodname bash -n pgouser2

you are exec'ing into the backrest repo...when you are in, enter the following
command:

ssh postgres@foo

see if you can connect to the primary and if that hostname resolves...

[2019-06-26 20:18] kannanvj commented on #842
@jmccormick2001 , I have checked with all the pods which are created by postgresql operator.
When we create the cluster, operator will create following 3 pods...
For all those 3 pods doesn't have "foo" entry on the file /etc/hosts

---

[root@uklab9 ansible]# kubectl get pod -n pgouser2
NAME                                      READY   STATUS    RESTARTS   AGE
foo-6cf5b7b5f6-fssd4

[2019-06-26 20:21] jmccormick2001 commented on #842
run kubectl exec -it foo-backrest-shared-repo-8c7dd666-csdmv bash -n pgouser2

then run 'ssh postgres@foo' inside the container, let me know the results.

[2019-06-26 20:23] kannanvj commented on #842
@jmccormick2001 , It is not able to resolve the hostname foo

----

bash-4.2$ ssh postgres@foo
ssh: Could not resolve hostname foo: Name or service not known
bash-4.2$

----

[2019-06-26 20:25] jmccormick2001 commented on #842
leads me to think you have a network problem..there is a service that should be called 'foo', it should resolve from within the backrest repo container, if not, a network issue is happening.

[2019-06-26 22:24] jmccormick2001 commented on #843
Hi,

the operator has create permissions on the namespaces it watches because it is creating Secrets in those namespaces...users only have access to the Operator API that are known and registered in pgouser and have rights defined by pgorole...pgo users are also restricted as to what namespaces
they have access to by pgorole definitions.

maybe I'm not following your concern however, if so, please

[2019-06-26 22:55] jmccormick2001 commented on #807
still an issue or can we close this out?

[2019-06-27 06:05] kannanvj commented on #842
Thanks @jmccormick2001 ... It was a mistake from my kube-dns pod... Now i have fixed it...
Thanks a lot for your support.

[2019-06-27 06:05] #842 closed

[2019-06-27 11:54] Emmenemoi opened #845 "Can't start deployment when creating pgcluster resource."
**Describe the bug**
When creating a cluster through resource (pgcluster), deployment can't start: missing `<clustername>-backrest-repo-config`

**To Reproduce**
kubectl apply -f examples/create-by-resource/fromcrd.json

**Expected behavior**
Cluster created and operational

**Please tell us about your environment:**

Kube 1.15
PGO 4.0.1

[2019-06-27 13:19] kannanvj opened #846 "PGO create user fails"
**Describe the bug**
When I am trying to create the user, i am getting the below error
"Error: pgo client and server version mismatch"

But when i execute the command pgo version, i am getting the client and server version is remains same.

----

[root@uklab9 ansible]# pgo version
Handling connection for 8443
pgo client version 4.0.0
pgo-apiserver version 4.0.0

-----

**To Reproduce**
Steps to re

[2019-06-27 17:20] jmccormick2001 commented on #846
strange, can you try this:

pgo create user test --selector=name=test1 --password=test --valid-days=180 -n pgouser1

replace test1 with the name of your PG cluster.

[2019-06-27 22:11] multi-io commented on #807
Can be closed, thanks.

[2019-06-27 23:44] #807 closed

[2019-06-28 01:17] kannanvj commented on #846
@jmccormick2001 , yes. I am able to create the user name same as PG cluster.
One more observation, After adding the user name as  PGcluster, then we are able to add any other username

[2019-06-28 10:10] ruairi-hayes opened #847 "Ability to create and configure the database cluster directly via the Pgcluster CR"
**What is the motivation or use case for the feature?**

We are planning to use the operator as part of our applications deployment.
Our application and deployment mechanism is all helm based and very tied in structure to using helm. We are interested in having helm charts available to deploy the operator but can see that as of version 4.0 the current ones are deprecated. As per the comment here

[2019-07-01 02:50] ron1 opened #849 "Add release 4.0.1 to OperatorHub.io"
Add releases 4.0 and 4.0.1 to OperatorHub.io.

[2019-07-01 02:52] ron1 opened #850 "[Support] How to enable SSL between master and slave pods?"
How to enable SSL between master and slave pods?

[2019-07-01 12:00] cahoonpwork commented on #849
This is in progress now.  We will update this issue when it is out there.

[2019-07-01 15:00] muhaook opened #851 "pgbadger container can not generate report automatically"
**Describe the bug**
I can see 2 processes (start-pgbadger.sh and /opt/cpm/bin/badgerserver) running in pgbadger container, but report was not generated automatically.

**To Reproduce**
Steps to reproduce the behavior:
1. install ansible
2. pull postgre-operator source code and update inventory file (enable badger, add correct namespace and storage parameters)
3. create namespace (mh-ansible) in k

[2019-07-02 04:16] #740 closed

[2019-07-03 04:36] atinsood commented on #826
@jmccormick2001 were you able to look into this, or replicate this at your end?

[2019-07-03 12:38] cahoonpwork commented on #826
@atinsood we are still working on it and should have something soon, just trying to make sure we can document the changes required to make ssl work with the replicas and the impacts of those changes.

[2019-07-03 20:58] jbmcfarlin31 opened #855 "[Support] How to setup pgo client"
** Which example are you working with? **
The default installation guide for bash located [here](https://access.crunchydata.com/documentation/postgres-operator/4.0.0/installation/operator-install/)

**What is the current behavior?**
I am trying to verify that my installation was successful. I can see by doing `kubectl -n pgo get pods` that all 3 containers for the operator are created and running.

[2019-07-03 21:16] jmccormick2001 commented on #855
can you share your Ingress resource yaml?

[2019-07-03 21:17] jbmcfarlin31 commented on #855
[code]

[2019-07-04 02:13] atinsood commented on #826
@cahoonpwork thanks for the reply. I guess the biggest thing for me was if I was doing anything incorrectly, and from your reply it seems like you will update the documentation on how to make ssl work correctly with replicas. appreciate you looking into this.

[2019-07-05 02:26] mirinus opened #857 "can't create a postgres user with pgo create user"
I failed to create a user for postgres.  How can I set the password for user "postgres" ?

$ pgo create user test2 --selector=name=mycluster --password test --valid-days 180 -n pgouser1 --debug
DEBU[0000] debug flag is set to true
DEBU[0000] in initConfig with url=https://51.77.178.87:8443
DEBU[0000] GetCredentials called
DEBU[0000] looking in /home/ubuntu/.pgouser for credentials
DEBU[0000] /home

[2019-07-05 16:31] jbmcfarlin31 commented on #855
@jmccormick2001 if I run the `pgo version` command with the above configuration, I get a `status code 502 error` and if I look at the log outputs I see the following: `http: TLS handshake error from 172.17.5.20:58388: tls: client didn't provide a certificate`.

If I change it the configuration to the be the following:
[code]

I get the error: `Error: Invalid Status Code: 404`

Any suggestions?

[2019-07-05 18:10] jbmcfarlin31 commented on #855
I also found this doc [here](https://crunchydata.github.io/postgres-operator/latest/pdf/postgres-operator.pdf) which went into a little more depth for installing ingress. It actually pointed me to an `ingress.yml` file located under `$PGOROOT/deploy/ingress.yml`. So I deployed this one without modifying anything.

Then following the doc that I linked, I ran:
`kubectl get ingress postgres-operator

[2019-07-05 18:25] jmccormick2001 commented on #855
thanks, I'm testing this via a GKE setup/ingress, the backend uses TLS, so I suspect
the issue is the Ingress performing TLS to the backend.  Its not working for me currently
using an https backend configuration via a GKE ingress.

What I think I might do, is allow users to run the Operator without a TLS configuration as an option.
That way, Ingress users can do TLS via the Ingress which is also w

[2019-07-05 19:03] jbmcfarlin31 commented on #855
@jmccormick2001 I do know we are handling our TLS at the ingress level through the ingress controller - as we use a wildcard certificate for most of our stuff. So that is definitely an +1 option I would like as well.

Thanks for the update!

[2019-07-08 08:49] marrataj opened #858 "It's not possible to update user data"
**Describe the bug**
While trying to use `pgo user ...` command it fails with `Error: no clusters found`.

[Here](https://github.com/CrunchyData/postgres-operator/blob/master/apiserver/userservice/userimpl.go#L88) it always adds `,pg-cluster` to selector which causes that cluster is never found.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to call `pgo user <username> --selector=name=

[2019-07-08 12:20] cahoonpwork commented on #857
It looks like you have a cluster `mycluster`, can you verify if  `pgo test mycluster` works?  Also, what version are you running?

**Please tell us about your environment:**

* Operating System:
* Where is this running ( Local, Cloud Provider)
* Storage being used (NFS, Hostpath, Gluster, etc):
* Container Image Tag:
* PostgreSQL Version:
* Platform (Docker, Kubernetes, OpenShift):
* Platform Vers

[2019-07-09 09:26] #753 closed

[2019-07-09 13:51] cahoonpwork commented on #826
@atinsood the current example didn't include replicas setup in the configuration so we are documenting a new example that includes replicas as there are more config changes that need to happen.  We should have it checked in this week.

[2019-07-09 13:52] cahoonpwork commented on #850
@ron1 looks like this is similar to #826, should have something this week documented.

[2019-07-09 19:06] jbmcfarlin31 opened #860 "[Support] Cannot create cluster"
**Which example are you working with?**
Creating a cluster following the docs [here](https://access.crunchydata.com/documentation/postgres-operator/4.0.0/operatorcli/pgo-overview/)

**What is the current behavior?**
When I run `pgo create cluster mycluster -n pgouser1` I get an `Unauthorized` error. I followed all of the instructions on the installation guide and everything is showing as successfu

[2019-07-09 19:37] jmccormick2001 commented on #860
you might verify that 'installrbac' was run, that will set up the RBAC in the pgo/pgouser1/pgouser2 namespaces that would allow Secrets to be created.

[2019-07-09 19:43] jbmcfarlin31 commented on #860
@jmccormick2001 so the following outputs

kubectl get ns shows: `pgo, pgouser1, pgouser2`

kubectl get clusterrole shows: `pgopclusterrole, pgopclusterrolecrd, pgopclusterrolesecret`

kubectl get clusterrolebinding shows: `pgopclusterbinding-pgo, pgopclusterbindingcrd-pgo, pgopclusterbindingsecret-pgo`

Then when looking at the secrets for all `pgo, pgouser1, pgouser2` namespaces I see:
[code]
I d

[2019-07-09 19:51] jbmcfarlin31 commented on #860
@jmccormick2001 I think I figured out my problem beforehand... when I re-ran the `make installrbac` during my initial installation I don't think I re-ran `make deployoperator`.

So I ran `make installrbac` and let it delete and regenerate the key pairs, and I then ran `make deployoperator`. I then copied the new `server.crt` and `server.key` files and successfully ran `pgo version` followed by `pg

[2019-07-09 19:51] #860 closed

[2019-07-10 00:48] hightekvagabond opened #861 "having trouble using --resources-config on a create cluster"
** Which example are you working with? **
there is no example for container resources in:
https://crunchydata.github.io/postgres-operator/latest/configuration/pgo-yaml-configuration/

like there is for storageos, but I was able to look at some other posts in forums and the pgo.yaml docs and think I've pulled one together

**What is the current behavior?**
[code]

**What is the expected behavior?**

[2019-07-10 01:00] jmccormick2001 commented on #861
https://github.com/CrunchyData/postgres-operator/blob/master/conf/postgres-operator/pgo.yaml#L89

the default pgo.yaml defines 'small' and 'large' resource configs, you would specify those on the command line using --resources-config=small

[2019-07-10 01:02] hightekvagabond commented on #861
Yeah, I had small and large at first, this was just another attempt to get it right, here it is with small and large from that exact example.

`pgoadmin@/home/pgoadmin> pgo create cluster  --autofail --metrics --password "xxxx" --pgbackrest-storage-type local --pgbadger --pgbouncer --pgbouncer-pass "xxxx"  --pgpool --replica-count 1  --resources-config secrets/dbpasswords/accessmanagement.resource

[2019-07-10 01:04] hightekvagabond commented on #861
oh, I missread your reply at first..... ok, so how would I tell my "create cluster" to use this pgo.yaml then so that I could do --resources-config=small ?

[2019-07-10 01:05] jmccormick2001 commented on #861
if you do a 'pgo show config' it will show you your currently deployed pgo.yaml configuration, it should have 'small' and 'large' defined already unless that was changed by the installer to some other names/values.  We specify 'small' and 'large' by default, but people tend to change those as they do various installs for their environment.

[2019-07-10 01:08] hightekvagabond commented on #861
ok, that is cool, and I get how there is already a deployed pgo.yaml, and I'm able to create a cluster now defining small vs large, but, now my issue because that I need to explicitly be able to define CPU and Memory for a cluster at the time of create and being limited to just those two doesn't help

[2019-07-10 01:10] jmccormick2001 commented on #861
we are adding dynamic configuration in 4.1 of this operator, that could be added to the list of features if its helpful to folks.

[2019-07-10 01:10] hightekvagabond commented on #861
thanks

[2019-07-10 01:11] hightekvagabond commented on #861
even something like "Overriding Storage Configuration Defaults" as defined at the bottom of this page: https://crunchydata.github.io/postgres-operator/latest/configuration/pgo-yaml-configuration/

but for ContainerResources would be perfect

[2019-07-10 16:54] ruairi-hayes commented on #851
@muhaook can you try this with the `--pgbadger` flag set in your create to see if that gets it working for you
e.g.
pgo create cluster dbcluster -n mh-ansible --password password --replica-count 1 --pgbadger
The pgo api may be doing some configuration behind the scenes

[2019-07-10 17:12] hightekvagabond opened #862 "pgo watch does not exist"
**Describe the bug**
Page 23 of this document references pgo watch:

https://crunchydata.github.io/postgres-operator/latest/pdf/postgres_operator.pdf

But it doesn't actually seem to be an option for pgo

[code]

[2019-07-10 17:46] cahoonpwork commented on #862
@hightekvagabond   This is new functionality that will be in 4.1.0, currently it is in the develop branch. It looks like the you are looking at the /latest docs which are the development docs that are rebuilt nightly incase people are building the develop source.    If you want to build the develop branch you would get that functionality.  If you need/want to stay with 4.0.0 for now you can get th

[2019-07-10 18:38] hightekvagabond commented on #862
@cahoonpwork thanks

[2019-07-10 18:38] #862 closed

[2019-07-10 18:51] jbmcfarlin31 opened #863 "[Support] creation of cluster stalled by pending PVs and PVCs"
**Which example are you working with?**
Documentation example explaining how to create a cluster [here](https://access.crunchydata.com/documentation/postgres-operator/4.0.0/operatorcli/pgo-overview/)

**What is the current behavior?**
The cluster gets created through the `pgo create cluster mycluster -n pgouser1` command, however the pods never come up. They remain stuck in a `pending` state. If I

[2019-07-10 19:08] cahoonpwork commented on #863
@jbmcfarlin31 do you know if you can create a pv with rook manually outside of the Operator?

[2019-07-10 20:57] jbmcfarlin31 commented on #863
@cahoonpwork using the following yaml:
[code]

Results in a successful binding between PV and PVC:
`kubectl get pv...`:
[code]

`kubectl get pvc...`:
[code]

And then due to our environment it takes some time for the pod to bind, but you can see it is starting to get created vs stuck in the `pending` state:
[code]

[2019-07-10 21:04] jmccormick2001 commented on #863
as a test, you might change the storage config to use '1Gi' instead of the '935Mi', we have seen issues like the 'Mi' and 'Gi' before on various storage provisioners.

[2019-07-10 21:55] hightekvagabond opened #865 "final step: connecting to my database"
** Which example are you working with? **

So, I have this cluster created and I think I get how it works from the docs but didn't see any real examples of how you actually connect to the DB so you can work with it once all the administration is handled by the operator and I'm running out of things to try. Can anyone tell me what I'm doing wrong?

**What is the current behavior?**
First I created

[2019-07-10 22:22] jbmcfarlin31 commented on #863
@jmccormick2001 okay so it looks like changing the storage config to `1Gi` fixed it. However, now I see this when looking in the logs for the `my-cluster-xxxx` machine:

[code]

This is keeping the `mycluster...` pod from going into a `1/1 READY` state:
[code]

[2019-07-10 23:11] jmccormick2001 commented on #863
I'd try creating a brand new pg cluster, if the error occurs with that one, then lets look at the pg container log on the primary pod.

[2019-07-11 12:40] cahoonpwork commented on #865
@hightekvagabond  I think the majority of your issues are that you have  CCPImageTag: centos7-11.1-2.3.0 and running Operator 4.0.1.  The 2.3.x container images are compatible with the 3.5.x Operator and the 2.4.x images are compatible Operator 4.x, https://access.crunchydata.com/documentation/postgres-operator/4.0.1/configuration/compatibility/ .    I also notice you have --pgbouncer and --pgpool

[2019-07-11 14:59] jbmcfarlin31 commented on #863
@jmccormick2001 after letting it sit over night, things seem to have cleared up regarding the previous error. However, it looks like a new pod was created named `mycluster-stanza-create-xxxx` but it resulted in a `Error` status. The following output was in those logs:
[code]

[2019-07-11 15:17] jmccormick2001 commented on #863
try with a new cluster now that storage is known to be working, I'd like to see what errors you get with a brand new cluster, use a different name for the cluster as well to make sure we have a clean set of names.

[2019-07-11 16:15] muhaook commented on #851
The issue still exists with flag --pgbadger.

The command line I run:
pgo create cluster dbcluster -n $NS --replica-count 1 --pgbadger

After running the command, I had a look at pgbadger container. There was a db log file, but still the /report folder was empty.

[postgres@dbcluster-65b5494ddd-7tmkb report]$ cd /pgdata/dbcluster/pg_log
[postgres@dbcluster-65b5494ddd-7tmkb pg_log]$ ls
postgresql-T

[2019-07-11 16:26] ValClarkson commented on #851
@muhaook can you try running some sql statements against the primary db and then check the reports folder for the index.html file?

[2019-07-11 17:05] muhaook commented on #851
I run some sql statements just now, but the /report folder was still empty.

Details:
muhaos-mbp:postgres-operator-helm mike1$ k exec -it dbcluster-65b5494ddd-7tmkb -c database -n $NS bash
bash-4.2$ psql
psql (11.3)
Type "help" for help.

postgres=# \c
You are now connected to database "postgres" as user "postgres".
postgres=# \l
                                 List of databases
   Name    |  Own

[2019-07-11 17:08] jbmcfarlin31 commented on #863
@jmccormick2001 so I deleted the cluster, and re-created a brand new one. The PV's and PVC's bound successfully, the pods took a little but but they finally mapped as well and came up as running, however I still am getting an error with that `testcluster-create-stanza-xxxx` pod. The log output appears to be the same as above:
[code]

There were also no indications when doing a `kubectl describe...

[2019-07-11 17:53] cahoonpwork commented on #863
time="2019-07-11T16:42:30Z" level=info msg="stderr=[ERROR [042]: : remote process on 'testcluster' terminated unexpectedly: ssh: connect to host testcluster port 2022: Connection refused\n]"   -- can you check DNS within Kubernetes.  Also, assuming multi-node but not multi-zone setup, is that accurate?

[2019-07-11 18:14] jmccormick2001 commented on #863
another test to try is to see if you can connect from your backrest repo pod to your postgres pod, that communication has to work or else you can see this error.

to test this out, you can 'exec' into the running backrest repo container, then run 'ssh postgres@testcluster' and it should allow you to ssh into the postgres cluster without
error.  If you have networking issues, the 'testcluster' name

[2019-07-11 18:29] jbmcfarlin31 commented on #863
exec'ing into the backrest pod and running `ssh postgres@testuser` resulted in a success:
[code]

@cahoonpwork multi-node is correct.

I have added the port 2022 into my security group as an allowed port... deleting cluster and trying again.

[2019-07-11 18:34] ValClarkson commented on #851
@muhaook can you try port-forwarding pgbadger and then hitting the ui

kubectl port-forward dbcluster-65b5494ddd-7tmkb -n $NS 10000:10000

http://localhost:10000/api/badgergenerate

I ran a new cluster, I added data, then hit the ui and the index.html showed up in the reports folder

[2019-07-11 19:57] jbmcfarlin31 commented on #863
@jmccormick2001 @cahoonpwork okay so adding the port in my security group seemed to get past the initial problem.. though now it is something else on the same stanza container:
[code]

[2019-07-12 08:06] muhaook commented on #851
I saw the report this way. Thanks Val.

[2019-07-12 08:06] #851 closed

[2019-07-12 13:05] cahoonpwork commented on #863
@jbmcfarlin31  Can you set the environment variable CRUNCHY_DEBUG=true, create a new cluster, and then let's see what the log has in it.

[2019-07-12 13:08] cahoonpwork commented on #826
@atinsood   take a look at this example and see if that helps out:  https://github.com/CrunchyData/postgres-operator/tree/develop/examples/primary-replica-custom-ssl

[2019-07-12 15:00] atinsood commented on #826
@cahoonpwork I can give this a try later in the day. do you mind summarizing what was the change that you had to make to get this to work (for my own understanding)

[2019-07-12 16:22] pierreozoux opened #867 "Standard Resource Definition - Postgres"
I'm trying to standardize the way we describe PostreSQL instances in kubernetes resources, and make this part of upstream, [in alpha for the 1.16 version](https://github.com/libresh/StandardResourceDefinitions/issues/6).

As one PG "operator" provider, I'd love your feedback on this.

As a user of your operator, would you find it useful to have a standard resource definition for PG (the same as in

[2019-07-12 21:16] hightekvagabond commented on #865
taking out the pgbounce and setting the right container still has my pod crashing over and over and I don't see any logs to help me understand why :(

[2019-07-15 01:34] jmccormick2001 commented on #865
if you can get the postgres container log that would be good to look at, also if its writing out to disk and you can look at the PVC you can view the pg_log file if Postgres actually started up or not it will write one.

[2019-07-15 15:08] jbmcfarlin31 commented on #863
@cahoonpwork do I set that env var inside the `pgo.yaml` file, inside one of the conainters, or just anywhere that I am running the `pgo client`?

[2019-07-15 15:19] dadez opened #869 "pgo create cluster storage options for backup and backrest"
**It would be nice to can override the default `backup_storage` and `backrest_storage` as by `primary_storage` and `replica_storage`**

**add options on pgo create-cluster**
We can define the primary and replica storage configurations with this parameters:

- `--storage-config`
- `--replica-storage-config`

We should alos can define the desired storage configurations for backup and backrest:

- `-

[2019-07-15 16:25] cahoonpwork commented on #863
anywhere you are running the client, we run bash so we usually set it in our .bashrc

[2019-07-15 17:04] cahoonpwork commented on #869
we are making some changes to make things more dynamic, I'll look into getting this is part of that.

[2019-07-15 18:06] hightekvagabond commented on #865
At this point there is no logs to get, container won't stay up...

[code]

[2019-07-16 00:25] hightekvagabond commented on #865
I was able to resolve that the image tag was still not right because a typo in the change of my script. Thank you for your help, I've been able to connect to postgres.

[2019-07-16 00:25] #865 closed

[2019-07-16 02:37] jmccormick2001 commented on #857
also, try your .pgouser file with username:password as the contents

[2019-07-16 15:31] davisford commented on #867
Put my comments on the draft, but _absolutely_ want a CRD for PG cluster.  Much preferred to having to use `pgo` cli.

[2019-07-17 02:49] fanzhang15 opened #870 "fromcrd use doesn't create fromcrd-backrest-repo-config"
**Describe the bug**
A clear and concise description of what the bug is.

As we can see from the script below. The `run.sh` command doesn't create the fromcrd-backrest-repo-config file, which causes the pod not being able to create.

However, the pgo command could create that file

$ source examples/create-by-resource/run.sh
Error from server (NotFound): secrets "fromcrd-postgres-secret" not found

[2019-07-17 03:23] narayaana opened #871 "archive_timeout"

[2019-07-17 03:28] narayaana commented on #871
I try to change archive_timeout of postgresl.conf via pgo create cluster. I use backrest and default pgo clone. version 4.0.0. running on AKS.

I tried

--labels "archive_timeout=3600"
--labels "archive=true archive_timeout=3600"
--labels "archive=true"

--labels "archive-timeout=3600"
--labels "archive=true archive-timeout=3600"

none seem to affect the postgresql config
at each installed an new

[2019-07-17 12:08] cahoonpwork commented on #871
The --labels is just setting labels on the cluster that you can use selectors off of.  If you edit the pgo.yaml file for the following fields to:
ArchiveMode:  true
ArchiveTimeout:  3600

You will have to redeploy the operator for the configuration to be picked up.
Let us know if that works for you.

[2019-07-17 18:18] jmccormick2001 commented on #870
we will review, I think that example didn't set up backrest but we will likely change it to do that.

[2019-07-17 19:44] AnacondaJose commented on #870
Sorry if this is in the docs already, but I can't seem to find information on the use of the `pgo-backrest-repo-config` secret. I created my own with the example data in order to get the pod running.

[2019-07-17 19:45] AnacondaJose commented on #849
Is there anything I can do to help out with this issue?

[2019-07-17 20:10] flamingdumpster commented on #849
Thank you for offering - this will be completed soon though.

[2019-07-18 01:25] narayaana commented on #871
it did not either. this is why I tried labels

[2019-07-18 05:25] mmgaggle commented on #517
@dmhumph - did ever manage to get a working scc?

[2019-07-18 12:15] cahoonpwork commented on #871
We will look into it and see what is going on.

[2019-07-18 13:25] dmhumph commented on #517
@mmgaggle Yes, my process to get this working was to create a new scc in openshift.  It has been a little while since I last did this, but I need to try it out again and commit my documentation for OpenShift 3.11.  Although I have a feeling some of this will change in OCP 4.x

[2019-07-18 15:56] fanzhang15 commented on #870
@jmccormick2001

I changed the "pgo-backrest" label to "true" in both the `metadata` field and the `userlabels` field in the fromcrd.json file. The only difference is a new pod named `fromcrd-backrest-shared-repo-58d594d85-tl5fr` is created, but the file is still missing.

As you can see below, the `mycluster` was created using the `pgo` command, which looks normal, but since the `fromcrd` misses

[2019-07-18 17:10] mmgaggle commented on #517
@dmhumph I'd be happy to test out what you have for 3.11 on my 4.1 cluster

[2019-07-21 02:51] davi5e commented on #740
Me and my team are very interested in this as well...

[2019-07-22 07:45] tongpu commented on #821
4.0.1 warns that a cluster with `autofail=true` can't perform a manual failover, so I would consider this fixed for now.

[2019-07-22 07:45] #821 closed

[2019-07-22 07:54] tongpu opened #875 "Implement PodDisruptionBudget for PostgreSQL clusters"
**What is the motivation or use case for the feature?**
To better handle interruption during regular maintenance and prevent the accidental stoppage of a PostgreSQL cluster when other components fail during maintenance it would be beneficial to use PodDisruptionBudget to inform the eviction API about the cluster requirements.

**Describe the solution you'd like**
When deploying a cluster via `pgo

[2019-07-22 20:06] cahoonpwork commented on #871
@narayaana looks like you found a bug.

[2019-07-23 02:26] narayaana commented on #871
Ok, thanks for having looked into this. Will you post here if any fix is available ?

[2019-07-23 07:01] muhaook opened #878 "CR to enable TLS on DB cluster"
**What is the motivation or use case for the feature? **
operator uses configmap to determine certificates and configurations to setup postgres cluster. This would not work for us. Operator should always contact CR and act up on it.

**Describe the solution you'd like**
The CR should include all necessary data that the original configMap has:
"pg_ident.conf"
"pg_hba.conf"
"postgresql.conf"
"ca.crl

[2019-07-23 09:46] jorgesaenzpuchau opened #879 "How to create a backup using pgdump and REST-API"
** Which example are you working with? **
Trying to create a backup of a single database in the cluster using pgdump, usign directly the REST API.

**What is the current behavior?**
Unable to create a backup using REST API and pgdump

**What is the expected behavior?**
Backup over a single database should be created.

**Other information** (e.g. detailed explanation, related issues,  etc)
When inv

[2019-07-23 11:54] cahoonpwork commented on #871
Yes, we will update this ticket when the fix is available.

[2019-07-23 12:22] cahoonpwork commented on #879
This seems odd in the pgdump log: time="2019-07-23T09:37:16Z" level=error msg="primary pod is not in Ready state"

Can you confirm the create cluster worked and the primary is running.
Can you provide the following output:
 `kubectl get all -n eea-test`
 `pgo show cluster poc-cluster-gis -n eea-test `
 `pgo test poc-cluster-gis -n eea-test`

[2019-07-23 20:05] jmccormick2001 commented on #858
should be ready for test in 4.1.0.

[2019-07-24 09:18] jorgesaenzpuchau commented on #879
Hi, thanbks for answering.

**kubectl get all -n eea-test**
[code]

**pgo show cluster poc-cluster-gis -n eea-test**
Executed as
`curl --cacert $PGO_CA_CERT --key $PGO_CLIENT_KEY --cert $PGO_CA_CERT -u username:password -H "Content-Type:application/json" --insecure -X POST --data '{"ClientVersion":"4.0.0","Namespace":"eea-test","Clustername":"poc-cluster-gis"}' https://10.103.130.3:8443/showcluste

[2019-07-24 21:59] jmccormick2001 commented on #870
the issue is that the backrest repo secret is not being created in the example, I will check in a fixed example for this in the next hour that will be in the develop branch.  backrest repo secrets are generated dynamically by the API, so, for the example you will see a Secret with 'canned' keys.  You can look at how the Secret is created and keys generated in apiserver/clusterservice/clusterimpl.g

[2019-07-25 12:53] Conor-Quin opened #889 "AutoFailover downfalls and improvements"
**What is the motivation or use case for the change?**

We are planning to use the operator as part of our applications deployment.
It is critical that our application has high availability and reliability but the auto-failover feature that is currently in place does not provide this.

The following are some scenarios that are not supported:

**_When there is a problem with the PVC underneath the

[2019-07-25 13:19] jmccormick2001 commented on #889
thanks, noted and will work on an implementation.

[2019-07-25 13:39] cahoonpwork commented on #879
@jorgesaenzpuchau We reproduced your error and are looking into it.

[2019-07-25 14:02] SergeyMuha opened #890 "Spread Postgres Operator across multi-zone env"
** Which example are you working with? **
I have vsphere with two availability zone (zone1, zone2) that don't share any resources
Kubernetes cluster deployed with two nodes, one node per zone
I have deployed Postgres Operator in zone1 and posgres cluster with --autofail --replica-count=1
so I have master pod in zone1 and replica in zone2
I tested failover
**What is the current behavior?**
Idea is

[2019-07-25 14:11] jmccormick2001 commented on #890
thanks, its on the roadmap to support a active-standby or some sort of clustered operator configuration which would be what you need for your use case.

[2019-07-26 13:30] muhaook opened #892 "Support Postgres master/slave sync-up over TLS"
As part of security enhancement efforts, we want to configure Postgres master/slave sync-up over TLS.

Looks like current Crunchy does not support postgres master/slave over TLS.

The key in the sync-up between postgres master and slave is recovery.conf file. In that file, primary_conninfo defines how to connect from slave to master.

If the primary_conninfo looks like below, the slave will connec

[2019-07-26 14:43] #766 closed

[2019-07-27 16:28] #769 closed

[2019-07-29 13:10] jmccormick2001 commented on #889
for my testing, could you provide the storage type (gce? ebs?) and also the command
you used to delete the PVC?  I'll give this a try today.

[2019-07-29 13:31] Conor-Quin commented on #889
The environment was using IBM Block Storage.

The command used to remove the PVC `kubectl delete pvc <name-of-pvc>`

Sidenote: The finalizers needed to be removed from the PVC to allow for it's deletion

[2019-07-29 14:09] #659 closed

[2019-07-29 19:09] #773 closed

[2019-07-30 10:30] Conor-Quin commented on #889
@jmccormick2001 It also must be added that Rook-ceph is also used in some of our environments too.

It's not strictly IBM block storage

[2019-07-30 12:50] shudhanshh opened #896 "Automatic failover dosent work."
** Im working with **
Postgres operator 4.0.1
**What is the current behavior?**
Postgres operator auto-failover is not promoting the replica to primary pod replicas and other replicas are not following this new primary server in the pgpool.
**What is the expected behavior?**
whenever the primary server goes down, I want that promote any replica to primary and other replicas must follow this primar

[2019-07-30 13:18] PowerStateFailure commented on #670
@Deepak-Routray Sorry for the late reply (too long vacation).
Yes, I've repaired Helm chart by copying `pgbench-job.json` from release archive, and that's all - operator works fine.

@jmccormick2001 Would you accept any PRs on Helm chart for 3.5.*? I'm planning to update chart to support 4.0 branch of operator so at first I've synced chart with version 3.5.4

[2019-07-30 14:18] jmccormick2001 commented on #670
yes, a PR for that would be very helpful.  thanks.

[2019-07-30 15:55] Conor-Quin opened #897 "Support affinity injection in custom resource"
**What is the motivation or use case for the feature?**
Currently, the only way to add affinity strategies to a cluster during deployment is using the pgo cli tool.

Support affinity injection in custom resource so that the operator can read it dynamically and distribute the postgres servers across the k8 nodes accordingly

**Describe the solution you'd like**
Provide custom resource templates to

[2019-07-30 18:41] jmccormick2001 commented on #889
some status...I did an initial test of killing the pvc/pv and the failover occurred...this was using storageos as the PV type and this was on k8s 1.15...the pod controller sees the not ready event and works as normal.  I removed the finalizers from the pod/pvc/pv to get the PV to remove...I'll need to test this some more to see how to duplicate it.  If you recreate it, I'd be curious to see your o

[2019-07-31 12:52] Conor-Quin commented on #889
The pod does not go into a not ready state when the PVC is removed when I'm testing so the failover process will not work for me when I'm testing.

There doesn't seem to be any logs in the operator as the failover is not triggered as the pod doesn't go into the not ready state
[pvcRemove.txt](https://github.com/CrunchyData/postgres-operator/files/3451886/pvcRemove.txt)

[2019-07-31 13:37] jmccormick2001 commented on #889
thanks, one test that would be good to run is 'exec' into the primary pod after you remove
the PVC, and see if you can run 'psql'.  The probe is essentially doing that so I'd be curious of
what happens if you run 'select now()' manually.

[2019-07-31 14:17] Conor-Quin commented on #889
The queries can still run successfully even though Kubernetes is telling me that the PVC is removed.

Not sure how it's still working and storing data without the PVC underneath.

When that pod is restarted it does not come back as it can't claim the previously deleted PVC which can be seen in failoverEnabled.txt above ^^.

Maybe it mightn't be a problem if it stills stores data and works

[2019-07-31 14:28] jmccormick2001 commented on #889
ok, that explains why the 'not ready' is not getting made...another test would be to see if you can insert/or create some data instead of just a 'select now()'....I've thought of making the probe also test for the existentence of "/pgdata/" using a 'ls /pgdata/somecluster', would also be curious if that errors out.

[2019-07-31 14:44] Conor-Quin commented on #889
We tried creating a table and writing to it and it seems to work.
/pgdata does seem to be getting written to so we are unsure why it is working.

[writing.txt](https://github.com/CrunchyData/postgres-operator/files/3452414/writing.txt)

[2019-07-31 15:16] muhaook opened #901 "Support TLS between Operator and DB cluster"
4 features need to be modified in order to use TLS between postgres operator and DB:

**1/ maintain PostgreSQL users and passwords**

I used operator to change user's password, it succeeded. Looking into crunchy source code, I found operator is using pq (https://github.com/lib/pq) as the db driver to connect to PostgreSQL db. The connection is like:
[code]
The sslmode=disable is hardcoded in opera

[2019-07-31 15:49] jmccormick2001 commented on #889
weird for sure, not sure how I can catch that in the probe at the moment..I might try this with rook/ceph and see how it responds...maybe its how the storage is implemented, not sure.

[2019-07-31 16:51] jpigottj commented on #670
I'd also be interested in a helm chart for 4.0.x. I tried to take 3.5.4 chart and apply to version 4.0.0 but in addition to issue with `pgbench-job.json`, I did also encounter  some issues with CRD group names and needing `PGO_OPERATOR_NAMESPACE` env var to be specified for the operator containers. With these changes creation of a pgcluster works but sure there is other functionality I didn't test

[2019-08-01 12:15] ron1 commented on #849
I see add to community-operators is done. Now only add to upstream-community-operators remains. I suspect this should be mostly copy and paste. Will this be completed soon?

[2019-08-01 13:26] flamingdumpster commented on #849
Yes, the upstream is next and will be roughly the same, changes only where needed.

[2019-08-01 18:51] NiharDudam opened #905 "Configure Crunchy operator to use namespace level RBAC rules"
**What is the motivation or use case for the change?**

Our clients require that we ship with the most restrictive RBAC rules possible. Since our product does not deploy across namespaces, we need to ship RBAC rules that do not request any cluster-level permissions.

**Describe the solution you'd like**
We need a way to configure crunchy operator (disable any cross namespace features) so that it

[2019-08-01 23:05] NiharDudam opened #906 "Support for Redhat UBI images"
**What is the motivation or use case for the change?**
Our product has a requirement of using Redhat certified UBI images

**Describe the solution you'd like**
At present all the images supported by Crunchy are based on centos7 as per
https://hub.docker.com/u/crunchydata

I also see UBI docker files at https://github.com/CrunchyData/postgres-operator/tree/4.0.1/ubi7
and https://github.com/CrunchyD

[2019-08-02 11:58] cahoonpwork commented on #906
Currently the UBI images are a work in progress, but the plan is to transition to them.

[2019-08-03 13:43] #778 closed

[2019-08-03 20:43] #779 closed

[2019-08-06 16:48] muhaook opened #913 "imagepath should have prefix 'crunchydata/' in Pgcluster CR"
the operator seems to be adding a crunchydata/ image prefix automatically when creating the Pods from the Pgcluster CR. e.g. repository: crunchy-postgres

What we need is to define the imagepath with the crunchydata/ image prefix in pgcluster CR. this way, we can also use it to pull image in our installer code.
e.g. repository: crunchydata/crunchy-postgres

[2019-08-06 16:52] jmccormick2001 commented on #913
thanks for reporting this one, we'll add the image prefix into the CR.

[2019-08-06 17:11] NiharDudam commented on #913
@jmccormick2001

In our use case, we upload all the images to a private repository and will not have access to the internet.
Hence the operator should be able to read the **image name**, **tag**, and **secret** associated with it from the CR and download the images.

[2019-08-07 01:15] narayaana opened #914 "backuprest full backup pod has error 050"
**Describe the bug**

C:\Users\Ugo\pgo>pgo_4_0_0 version
pgo client version 4.0.0
pgo-apiserver version 4.0.0

There are 2 pgo clusters running on the same AKS.

kubectl logs of backup pod "" is:
time="2019-08-06T01:00:07Z" level=info msg="stderr=[ERROR: [050]: unable to acquire lock on file '/tmp/pgbackrest/db-backup.lock': Resource temporarily unavailable\n       HINT: is another pgBackRest proc

[2019-08-07 01:45] #772 closed

[2019-08-07 01:45] #777 closed

[2019-08-07 12:13] lkhomenk commented on #914
@narayaana check your backrest-shared-repo pod. it seems that another backup is running. maybe some other pgbackrest processes are stuck. restarting backrest-shared-repo pod might help. anyway this issue is more related to pgbackrest. add logging to the file on pgbackrest side to catch exactly your case

[2019-08-07 12:36] lkhomenk commented on #897
affinity rules can be applied into config jsons of cluster_deployment, pgbouncer_template, etc. But I would love to have dynamic configs for cluster. Current approach with pgo-custom-config is really limited. And it's hard to manage multimple DB clusters with different configuration( e.g. affinity, envFrom etc)

[2019-08-07 15:12] lkhomenk opened #916 "Manual Failover deletes working primary"
** Which example are you working with? **
Manual failover kills Primary even if Primary is OK

**What is the current behavior?**
pgo failover mycluster --target mycluster-replica
deletes primary
**What is the expected behavior?**
pgo just to switch to the replica.
Verify that Primary is fine and leave it as replica
**Other information** (e.g. detailed explanation, related issues,  etc)

**Please t

[2019-08-07 16:33] Conor-Quin opened #917 "Support for S3 backup injection in a custom resource"
**What is the motivation or use case for the feature?**
Currently, the support for S3 backup is configured using a configmap during deployment of the operator

**Describe the solution you'd like**
Add backup configurations in `Pgcluster` custom resource and make operator listen to the updates made to backup configurations in `Pgcluster` custom resource

[2019-08-07 17:03] NiharDudam opened #918 "Support redirecting backup files to SFTP server"
**What is the motivation or use case for the feature?**

Most of our customers are already scheduling their backups onto a SFTP server. Currently, pgbackrest only supports Amazon S3 storage. We need to support SFTP as a reliable storage mechanism for Postgres backups

**Describe the solution you'd like**
Add support for redirecting backups to an SFTP server

**Describe any alternatives you've cons

[2019-08-07 18:04] lkhomenk commented on #917
if you create cluster with --pgbackrest it's configuration can be changed later to backup to S3. adding pgbackrst after cluster was created required maintenance anyway and cluster restart. it might be easier to backup data - create new cluster  with pgbackrest On and restore after from backup

[2019-08-07 18:25] lkhomenk commented on #918
1)@NiharDudam you could configure pgbackrest for local backups on your SFTP for that. Current approach with pgbackrest - separate pod with pgbackrest is created for local storing of backups.
2)Or you can configure shared-backrest pod with pg-host + repo-host options to take files from DB and store them to your remote. but it requires ssh trusted connection

[2019-08-07 18:28] lkhomenk commented on #916
another weirdo with manual failover - 2 replicas were created
Failover started from 1 Primary + 2 Replicas  - operator killed primary, switched to --target pod and create 2 more replicas. end result 1 Primary + 3 Replicas
@jmccormick2001 is it expected behavior?

[2019-08-07 18:42] NiharDudam commented on #917
@lkhomenk I think we need to use pgo command line to change the backup configuration after creating the cluster.

We cannot use the command-line tool and want to update backup configurations in `PgCluster` custom resource. Currently `Pgcluster` custom resource does not store backup configurations

[2019-08-07 19:18] NiharDudam commented on #897
@lkhomenk

Currently, affinity.json is hardcoded to use `nodeAffinity` as per https://github.com/CrunchyData/postgres-operator/blob/master/conf/postgres-operator/affinity.json

Here is the template example

[code]

1. We need to be able to define various other affinities such as `podAntiAffinity` `podAffinity` `nodeAntiAffinity`
2. Ideally, we want this configuration defined in `Pgcluster` custom

[2019-08-07 19:53] jmccormick2001 commented on #916
its a bug I'm working on currently, I should have a fix for it in develop branch shortly.

[2019-08-07 20:48] lkhomenk commented on #917
pgo utility triggers 'pgbackrest', which depends on predefined PGBACKREST_* variables. But you can also add custom attributes to it.
Minor exception - stanza creation can't be triggered via pgo, all others like info, backup are doable

[2019-08-07 20:55] lkhomenk commented on #897
We made our edits in cluster-deployment and other resources - removed that Affinity placeholder and hard-coded our affinity. It's not flexible solution at all, but it works. As I've seen from other issues - dynamic config s are kinda in development. But not sure what will be there.

[2019-08-07 22:43] mmgaggle commented on #517
Example SCC that seems to work for me.

[code]

[2019-08-08 00:06] jmccormick2001 commented on #517
thanks, I've added that scc to the examples directory here:

https://github.com/CrunchyData/postgres-operator/blob/develop/examples/pgo-scc.yaml

[2019-08-08 00:28] NiharDudam commented on #917
@lkhomenk Afaik PGBACKREST_* variables are defined in inventory and those are injected into config map during cluster creation and pgo command line is used to update backrest parameters in the config map. (Correct me if I am wrong)

As mentioned below we want these backrest configs defined in `Pgcluster` Custom resource instead of config maps or maybe in both so that Crunchy operator listens to `P

[2019-08-08 01:14] dmhumph commented on #517
Sorry, this fell off my task list.... so the way I solved this was in a little more secure manner by specifying a fsgroup range as outlined in the following document:
https://docs.openshift.com/container-platform/3.11/install_config/persistent_storage/pod_security_context.html#fsgroup

I copied the restricted scc and then modified it to include fsgroup and ranges between 20 and 30.

Unfortunately

[2019-08-08 07:58] lkhomenk commented on #917
you can edit `conf/postgres-operator/pgo-backrest-repo-template.json` or `conf/postgres-operator/cluster-deployment.json` according to your needs and apply your pgbackrest config that way. or even adding your own envFrom with config you need

ASFAIK Pgcluster CRD doesn't reflect current situation - create cluster with 0 replicas - edit crd by adding replicas - no replicas pods will be added. same

[2019-08-11 08:24] #775 closed

[2019-08-12 06:15] PowerStateFailure commented on #670
I think I may close this, as chart was fixed in #910 and should work now

[2019-08-12 06:15] #670 closed

[2019-08-14 01:55] #787 closed

[2019-08-14 01:55] #785 closed

[2019-08-16 09:11] lkhomenk opened #936 "Collect container Resource limits"
**Describe the bug**
Collect container can grow to much. we have seen collect container consuming up to 5Gb.

**To Reproduce**
Steps to reproduce the behavior:
1. Heavy database or load tests on DB + collecting metrics

**Expected behavior**
It should have limits

[2019-08-16 12:01] cahoonpwork commented on #936
Agree, we plan on adding a DefaultCollectResources config.

[2019-08-16 13:23] #810 closed

[2019-08-17 08:03] #819 closed

[2019-08-19 13:57] GeorgFleig opened #941 "pgo create user fails with certain usernames and long passwords"
**Describe the bug**
The pgo CLI does not work when creating a pg user that contains a "-" in its name. For example: `pgo -n postgres create user test-admin --selector=name=pg1 --managed --password test --valid-days 99 --db test`.
It will return

Creating the same user directly within postgres works perfectly fine when having quotes around the username.

Furthermore the CLI does not allow password

[2019-08-19 22:22] #823 closed

[2019-08-21 11:44] ajoyej opened #945 "Unable to perform a backup using pgBackRest with pgo 4.0.1"
Hello,
using pgo 4.0.1, I'm getting an error when trying to perform a pgBackRest backup.

Do you have any idea why we are getting this?

Thank a log for any help!
José

[code]

At this point we added a dB + table to the cluster.

then, check the status of backup
[code]

Then run a full backup using pgbackrest

[code]

Looking at the doc, it says I should check the definition of archive_command. It

[2019-08-21 12:54] jmccormick2001 commented on #945
some things to try to debug this one:

exec into your pg primary container, run a 'ps ax' command and you should
see the database archiving.

exec into your backrest repo, then test connectivity from that repo container
to your postgres primary by running:
ssh postgres@yourprimary

[2019-08-21 14:44] ajoyej commented on #945
@jmccormick2001
hello Jeff,

All sound good:
[code]

Any other idea?
Thanks a lot

[2019-08-22 00:56] jmccormick2001 commented on #945
hmmn, other things I try on cases like this include:
- exec into the repo container, and run 'pgbackrest backup' manually to see if the error occurs with the same return code
- look at the repo container log for any weird startup errors like permission errors.

[2019-08-22 11:34] louiseohalloran opened #946 "Data Loss and Latency limits during failover"
Hi @jmccormick2001

Regarding failover from primary to replica in Crunchy Data -  we want to understand what the behaviour is around data loss and latency.

Can you give us some detail on

- Is data lost during the failover from master to replica. Will any transactions that are writing data to the postgres db during failover be queued and executed later once failover has completed?
- How long does

[2019-08-22 12:13] louiseohalloran commented on #918
@lkhomenk
During one of our calls with Crunchy it was suggested that we also look at pgdump and pgbasebackup as there may be issues with tarring and untarring pgbackrest files.

I have done some tarring up of pgdump and pgbasebackup  files, untarring and then restore and it seems to work ok but from our point of view I would like to understand the limitations with these two methods.

From what I h

[2019-08-22 13:24] ajoyej commented on #945
I tried and get the same error from the repo container.
[code]

The container logs shows nothing special:
[code]
I also checked again the postgresql log file and there is nothing special

Thanks for any help,
José

[2019-08-23 14:22] lkhomenk commented on #945
[code]
try checking your archiving or push manually. have you created stanza?

[2019-08-23 14:25] lkhomenk opened #949 "scheduler and pgdump"
** Which example are you working with? **
It's unclear why pgdump can't be added via `pgo create schedule`

**What is the current behavior?**

[code]

**What is the expected behavior?**
Can it be added?

[2019-08-23 15:00] cahoonpwork commented on #949
Currently the only valid items that can be scheduled are pgbackrest, pgbasebackup and a policy.  We will look into what it would take to add pgdump.

[2019-08-23 15:52] ajoyej commented on #945
@lkhomenk
stanza should be created:
[code]
I have also tried to create it manually and got no error.

[code]
pgbackrest check
[code]
I also tried to push the archived manually and got an file already exist:

[code]

[2019-08-24 09:52] #828 closed

[2019-08-26 03:04] ntcong opened #956 "Automatic failover requires pgpool pod deletion"
**Describe the bug**
Automatic failover does work, it set a replica to primary a few seconds after primary down, but pgpool only recover after I delete and recreate pgpool pod.

**To Reproduce**
Steps to reproduce the behavior:
- Create a new cluster
- Set replica to 2 and autofail=true
- Scale replicaset of primary to 0
- Wait until a replica is set to primary
- Connect using pgpool

* Operating

[2019-08-27 08:48] ajoyej commented on #945
Hello,
We did some more tests on this issue:

1. Install pgo onto another pc (with a similar environment) --> got the exact same behavior.

2. I mentioned the fact that looking at the log, it shows a timeout:
[code]
We tried again to ssh from the repository pod within the dB pod. It works. However, it takes a really long time to go over the log-in process (30s) --> see log below

Can someone confi

[2019-08-27 09:59] narayaana commented on #914
error really on occurs when I have more than one cluster on our namespace.
if I delete one cluster, the error disappears

[2019-08-27 10:00] narayaana commented on #871
@cahoonpwork , any news regarding this one ?

[2019-08-28 11:06] ajoyej commented on #945
Hi,
We finally tried to install pgo onto our enterprise environment (SUSE Linux Enterprise Server) and the problem cannot be reproduced there
Therefore, it is not an issue with pgo and pgbackrest  (it is related to our develpment environment (VM, microk8s, ...)

Thanks again for the help and tips

José

[2019-08-28 11:06] #945 closed

[2019-08-28 11:25] ruairi-hayes opened #963 "Recommended way to use the default storageclass defined by K8s providers"
**What is the motivation or use case for the change?**
Our product has a requirement for users to be able to use the default storageclass defined in a
any K8s provider offering.

**Describe the solution you'd like**
We'd like to know if there is a supported/documented way of deploying a crunchy postgres cluster without specifying a storageclass so that it will just pick up the "default" storagecla

[2019-08-28 13:34] ajoyej opened #964 "Error when calling pgo backup (pgbackrest) multiple times [V 4.0.1]"
Hello,
If we run multiple times a pgo backup command (pgbackrest) on a given cluster, only the 1st backup will be executed with success. Any other attempts will fail.

Looking at the log, this is due to the fact that the backup jobs already exists and cannot be recreated.
--> if we manually delete the job (eg : backrest-backup-cbcd70 job), it is possible to execute another backup... but the next o

[2019-08-30 14:55] lkhomenk opened #975 "replica-node-label option"
**What is the motivation or use case for the feature? **
There're not so many options to customize master and it's replicas placement
During `pgo create` one can use `--node-label` which works  - master will use that label(operator=In), and replicas use any other node(operator=NotIn)
But when one scales cluster `pgo scale` - option `--node-label` can be used to tell replicas which node to use. Sam